In [1]:
# !pip install gdown==4.3.1
!pip install gdown==v4.6.3

Collecting gdown==v4.6.3
  Downloading gdown-4.6.3-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from gdown==v4.6.3) (3.16.1)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from gdown==v4.6.3) (2.32.3)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from gdown==v4.6.3) (1.16.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gdown==v4.6.3) (4.66.5)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from gdown==v4.6.3) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->gdown==v4.6.3) (2.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown==v4.6.3) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown==v4.6.3) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown==v4.6.3) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown==v4.6.3) (2024.8.30)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->gdown==v4.6.3) (1.7.1)
Downloading gdown-4.6.3-py3-none-any.whl (14 kB)
Installing collected packages: gdown
  Attempting uninstall: gdown
    Found existing installation: gdown 5.2.0
    Uninstalling gdown-5.2.0:
      Successfully uninstalled gdown-5.2.0
Successfully installed gdown-4.6.3

In [2]:
# Get dataset from Google Drive public link
# https://drive.google.com/file/d/1c0qJJuBvQ9KrLBpi6O4O_r3VPTtkh-Da/view?usp=sharing
!gdown --id 1c0qJJuBvQ9KrLBpi6O4O_r3VPTtkh-Da -O dataset.zip

/usr/local/lib/python3.10/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1c0qJJuBvQ9KrLBpi6O4O_r3VPTtkh-Da
To: /content/dataset.zip
100% 2.49M/2.49M [00:00<00:00, 43.0MB/s]

In [3]:
# Unzip the file
!unzip dataset.zip -d dataset

Archive:  dataset.zip
000f7ab58dfec04cc47d37c24fc70a1530d2c8ed
   creating: dataset/FNCE-449-term-data-main/
  inflating: dataset/FNCE-449-term-data-main/.DS_Store
   creating: dataset/FNCE-449-term-data-main/FNCE 449 original/
   creating: dataset/FNCE-449-term-data-main/FNCE 449 original/APA/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/APA/APA BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/APA/APA CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/APA/APA Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/APA/APA IS.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 original/BKR/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/BKR/BKR BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/BKR/BKR CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/BKR/BKR Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/BKR/BKR IS.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 original/CHRD/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/CHRD/CHRD BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/CHRD/CHRD CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/CHRD/CHRD Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/CHRD/CHRD IS.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 original/CHX/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/CHX/CHX BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/CHX/CHX CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/CHX/CHX Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/CHX/CHX IS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/CL Brent price.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/CL price.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 original/EXE/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/EXE/EXE BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/EXE/EXE CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/EXE/EXE Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/EXE/EXE IS.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 original/FANG/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/FANG/FANG BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/FANG/FANG CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/FANG/FANG Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/FANG/FANG IS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/Federal Fund Rate.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/GDP QoQ.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 original/GPRE/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/GPRE/GPRE BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/GPRE/GPRE CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/GPRE/GPRE Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/GPRE/GPRE IS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/Inflation CPI.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/Inflation PCE.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/NG price.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 original/PTEN/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/PTEN/PTEN BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/PTEN/PTEN CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/PTEN/PTEN Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/PTEN/PTEN IS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/US Employment Rate.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/US SA NFP.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 original/VNOM/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/VNOM/VNOM BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/VNOM/VNOM CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/VNOM/VNOM Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/VNOM/VNOM IS.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 original/WFRD/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/WFRD/WFRD BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/WFRD/WFRD CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/WFRD/WFRD Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 original/WFRD/WFRD IS.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/.DS_Store
   creating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/APA/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/APA/APA BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/APA/APA CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/APA/APA Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/APA/APA IS.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/BKR/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/BKR/BKR BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/BKR/BKR CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/BKR/BKR Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/BKR/BKR IS.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/CHRD/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/CHRD/CHRD BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/CHRD/CHRD CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/CHRD/CHRD Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/CHRD/CHRD IS.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/CHX/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/CHX/CHX BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/CHX/CHX CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/CHX/CHX Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/CHX/CHX IS.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/EXE/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/EXE/EXE BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/EXE/EXE CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/EXE/EXE Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/EXE/EXE IS.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/FANG/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/FANG/FANG BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/FANG/FANG CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/FANG/FANG Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/FANG/FANG IS.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/GPRE/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/GPRE/GPRE BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/GPRE/GPRE CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/GPRE/GPRE Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/GPRE/GPRE IS.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/PTEN/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/PTEN/PTEN BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/PTEN/PTEN CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/PTEN/PTEN Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/PTEN/PTEN IS.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/VNOM/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/VNOM/VNOM BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/VNOM/VNOM CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/VNOM/VNOM Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/VNOM/VNOM IS.xlsx
   creating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/WFRD/
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/WFRD/WFRD BS.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/WFRD/WFRD CF.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/WFRD/WFRD Earnings surprise.xlsx
  inflating: dataset/FNCE-449-term-data-main/FNCE 449 term project data/WFRD/WFRD IS.xlsx

# Clean data for Income statement

In [4]:
# Open a Income Statement as df
import pandas as pd
df_APA_Income_Statement = pd.read_excel('/content/dataset/FNCE-449-term-data-main/FNCE 449 term project data/APA/APA IS.xlsx')

In [5]:
df_APA_Income_Statement.columns = df_APA_Income_Statement.iloc[6]

In [6]:
df_APA_Income_Statement = df_APA_Income_Statement.drop(df_APA_Income_Statement.index[0:8])

In [7]:
df_APA_Income_Statement

6,NaN,JUN '24,MAR '24,DEC '23,SEP '23,JUN '23,MAR '23,DEC '22,SEP '22,JUN '22,...,DEC '01,SEP '01,JUN '01,MAR '01,DEC '00,SEP '00,JUN '00,MAR '00,DEC '99,SEP '99
8,Sales,2543,1951,2167,2308,1796,2008,2472,2887,3047,...,529.116,652.424,800.443,801.598,730.787,625.059,488.206,446.117,448.43,383.594
9,Cost of Goods Sold (COGS) incl. D&A,1486,1203,1137,1190,1009,1027,1290,1470,1344,...,334.933,320.322,NaN,NaN,NaN,NaN,NaN,193.61,403.136,163.618
10,COGS excluding D&A,821,600,661,716,584,632,828,1049,999,...,112.305,103.301,NaN,NaN,NaN,NaN,NaN,61.461,273.302,44.429
11,Depreciation & Amortization Expense,665,603,476,474,425,395,462,421,345,...,222.628,217.021,208.652,172.53,161.154,153.905,136.338,132.149,129.834,119.189
12,Depreciation,665,603,476,474,425,395,462,421,345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Gross Income,1057,748,1030,1118,787,981,1182,1417,1703,...,194.183,332.102,NaN,NaN,NaN,NaN,NaN,252.507,45.294,219.976
14,SG&A Expense,85,93,75,139,72,65,169,69,89,...,22.347,22.794,23.193,20.376,26.284,18.089,16.593,14.649,16.209,15.221
15,Other SG&A,85,93,75,139,72,65,169,69,89,...,22.347,22.794,23.193,20.376,26.284,18.089,16.593,14.649,16.209,15.221
16,Other Operating Expense,78,57,44,61,50,52,38,82,78,...,-1.938,16.656,121.668,117.855,91.857,83.018,69.609,8.966,-158.771,60.646
17,EBIT (Operating Income),894,598,911,918,665,864,975,1266,1536,...,173.774,292.652,446.93,490.837,451.492,370.047,265.666,228.892,187.856,144.109
18,Nonoperating Income - Net,249,-37,-262,22,121,-9,-114,22,34,...,91.316,-14.621,28.409,-14.71,79.094,16.562,14.506,15.223,15.011,14.962
19,Nonoperating Interest Income,3,3,3,2,3,2,2,1,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Equity in Earnings of Affiliates,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0,0,NaN,0,NaN,NaN,NaN,0,0
21,Other Income (Expense),246,-40,-265,20,118,-11,-116,21,31,...,91.316,-14.621,28.409,-14.71,79.094,16.562,14.506,15.223,15.011,14.962
22,Interest Expense,103,79,80,83,85,83,78,76,79,...,132.045,13.1,63.037,14.542,43.889,43.775,41.615,41.568,40.254,33.479
23,Gross Interest Expense,110,86,86,90,90,89,83,81,84,...,132.045,13.1,63.037,14.542,43.889,43.775,41.615,41.568,40.254,33.479
24,Interest Capitalized,7,7,6,7,5,6,5,5,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Unusual Expense - Net,112,35,29,24,1,-38,-19,40,29,...,NaN,NaN,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Impairments,0,NaN,15,0,46,NaN,0,0,NaN,...,NaN,NaN,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"Property,Plant & Equipment",0,NaN,15,0,46,NaN,0,0,NaN,...,NaN,NaN,65,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Restructuring Expense,115,27,4,5,2,4,5,4,3,...,0,0,0,0,0,0,0,0,0,0
29,Unrealized Valuation Gain/Loss,3,-8,-10,-19,47,33,24,-36,-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Hedges/Derivatives,3,-8,-10,-19,47,33,24,-36,-26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Excpl Chrgs - Others,0,0,NaN,0,0,-9,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Restructuring of Debt,0,0,NaN,0,0,-9,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Pretax Income,928,447,540,833,700,810,802,1172,1462,...,133.045,264.931,347.302,461.585,427.524,342.834,238.557,202.547,162.613,125.592
35,Income Taxes,308,235,-1324,278,238,484,263,642,395,...,50.005,104.909,141.557,179.384,167.483,136.21,93.53,85.323,65.289,52.814
36,Equity in Earnings of Affiliates,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,-0.446,0.31,1.22,0,0
37,Other After Tax Adjustments,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Consolidated Net Income,620,212,1864,555,462,326,539,530,1067,...,83.04,160.022,205.745,282.201,257.119,206.178,145.337,116.304,97.477,72.778
39,Minority Interest,79,80,91,96,81,84,96,108,141,...,4.42,3.189,0,0,0,0,0,0,0,0
40,Net Income,541,132,1773,459,381,242,443,422,926,...,78.62,156.833,205.745,282.201,257.119,206.178,145.337,116.304,97.477,72.778
41,Discontinued Operations,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,Preferred Dividends,0,0,0,0,0,0,0,0,0,...,4.908,4.908,4.877,4.908,4.908,4.908,4.908,5.264,4.946,4.947
43,Net Income available to Common,541,132,1773,459,381,242,443,422,926,...,73.712,151.925,200.868,277.293,252.211,201.27,140.429,111.04,92.531,67.831
44,Per Share,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,EPS (recurring),1.665054,0.518212,5.841368,1.544805,1.235275,0.690385,1.334472,1.363636,2.766959,...,0.243076,0.513121,0.818603,0.929482,0.880147,0.697435,0.516209,0.414062,0.369684,0.257381
46,EPS (basic),1.4582,0.4371,5.7941,1.4903,1.237,0.7781,1.3801,1.2827,2.7155,...,0.2571,0.5281,0.6926,0.9697,0.8831,0.7229,0.5325,0.4242,0.3723,0.2554
47,Basic Shares Outstanding,371,302,306,308,308,311,321,329,341,...,288.014982,288.100843,289.775592,286.162753,285.582943,277.655024,263.215217,262.963427,249.332119,265.241086
48,Total Shares Outstanding,369.825804,301.10681,303.575901,306.796269,307.264942,308.599131,311.559149,323.571815,333.393647,...,287.916658,287.889526,288.702727,289.689824,285.596803,285.310726,263.646581,262.683663,263.331789,263.532246
49,EPS (diluted),1.4543,0.4371,5.7752,1.4903,1.233,0.7756,1.3758,1.2788,2.7076,...,0.2524,0.5152,0.671,0.9307,0.8485,0.697,0.5152,0.4156,0.368,0.2554
50,Diluted Shares Outstanding,372,302,307,308,309,312,322,330,342,...,303.246281,302.87791,305.22256,302.08327,285.582943,293.587092,278.796164,277.456364,250.297699,263.543237
51,Total Shares Outstanding,369.825804,301.10681,303.575901,306.796269,307.264942,308.599131,311.559149,323.571815,333.393647,...,287.916658,287.889526,288.702727,289.689824,285.596803,285.310726,263.646581,262.683663,263.331789,263.532246
52,Earnings Persistence,70.797,78.767,74.725,85.756,87.407,88.308,87.875,87.847,80.189,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.077
53,Dividends per Share,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.25,0.125,...,0.04762,0.12121,0,0,0.06061,0,0,0.0303,0.0303,0.0303
54,Payout Ratio,17.190401,57.19515,4.328854,16.775146,20.27575,32.23311,18.171246,19.549578,4.616635,...,18.866878,23.526786,0,0,6.863322,0,0,7.290664,8.233696,11.863743
55,EBITDA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,EBITDA,1559,1201,1387,1392,1090,1259,1437,1687,1881,...,396.402,509.673,655.582,663.367,612.646,523.952,402.004,361.041,317.69,263.298
57,EBIT,894,598,911,918,665,864,975,1266,1536,...,173.774,292.652,446.93,490.837,451.492,370.047,265.666,228.892,187.856,144.109
58,Depreciation & Amortization Expense,665,603,476,474,425,395,462,421,345,...,222.628,217.021,208.652,172.53,161.154,153.905,136.338,132.149,129.834,119.189
59,All figures in millions of U.S. Dollar except ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_APA_Income_Statement = df_APA_Income_Statement.transpose()
df_APA_Income_Statement.columns = df_APA_Income_Statement.iloc[0]
df_APA_Income_Statement = df_APA_Income_Statement.drop(df_APA_Income_Statement.index[0])
df_APA_Income_Statement

nan,Sales,Cost of Goods Sold (COGS) incl. D&A,COGS excluding D&A,Depreciation & Amortization Expense,Depreciation,Gross Income,SG&A Expense,Other SG&A,Other Operating Expense,EBIT (Operating Income),...,Diluted Shares Outstanding,Total Shares Outstanding,Earnings Persistence,Dividends per Share,Payout Ratio,EBITDA,EBITDA,EBIT,Depreciation & Amortization Expense,All figures in millions of U.S. Dollar except per share items.
6,,,,,,,,,,,,,,,,,,,,,
JUN '24,2543,1486,821,665,665,1057,85,85,78,894,...,372,369.825804,70.797,0.25,17.190401,NaN,1559,894,665,NaN
MAR '24,1951,1203,600,603,603,748,93,93,57,598,...,302,301.10681,78.767,0.25,57.19515,NaN,1201,598,603,NaN
DEC '23,2167,1137,661,476,476,1030,75,75,44,911,...,307,303.575901,74.725,0.25,4.328854,NaN,1387,911,476,NaN
SEP '23,2308,1190,716,474,474,1118,139,139,61,918,...,308,306.796269,85.756,0.25,16.775146,NaN,1392,918,474,NaN
JUN '23,1796,1009,584,425,425,787,72,72,50,665,...,309,307.264942,87.407,0.25,20.27575,NaN,1090,665,425,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SEP '00,625.059,NaN,NaN,153.905,NaN,NaN,18.089,18.089,83.018,370.047,...,293.587092,285.310726,NaN,0,0,NaN,523.952,370.047,153.905,NaN
JUN '00,488.206,NaN,NaN,136.338,NaN,NaN,16.593,16.593,69.609,265.666,...,278.796164,263.646581,NaN,0,0,NaN,402.004,265.666,136.338,NaN
MAR '00,446.117,193.61,61.461,132.149,NaN,252.507,14.649,14.649,8.966,228.892,...,277.456364,262.683663,NaN,0.0303,7.290664,NaN,361.041,228.892,132.149,NaN
DEC '99,448.43,403.136,273.302,129.834,NaN,45.294,16.209,16.209,-158.771,187.856,...,250.297699,263.331789,NaN,0.0303,8.233696,NaN,317.69,187.856,129.834,NaN
SEP '99,383.594,163.618,44.429,119.189,NaN,219.976,15.221,15.221,60.646,144.109,...,263.543237,263.532246,77.077,0.0303,11.863743,NaN,263.298,144.109,119.189,NaN

In [9]:
df_APA_Income_Statement['Revenue'] = df_APA_Income_Statement['Sales']
df_APA_Income_Statement['Operating Expenses'] = df_APA_Income_Statement['Cost of Goods Sold (COGS) incl. D&A'] + df_APA_Income_Statement['SG&A Expense'] + df_APA_Income_Statement['Other SG&A']
df_APA_Income_Statement[['Revenue', 'Operating Expenses', 'Net Income']]

nan      Revenue Operating Expenses Net Income
6
JUN '24     2543               1656        541
MAR '24     1951               1389        132
DEC '23     2167               1287       1773
SEP '23     2308               1468        459
JUN '23     1796               1153        381
...          ...                ...        ...
SEP '00  625.059                NaN    206.178
JUN '00  488.206                NaN    145.337
MAR '00  446.117            222.908    116.304
DEC '99   448.43            435.554     97.477
SEP '99  383.594             194.06     72.778

[100 rows x 3 columns]

In [10]:
df_APA_Income_Statement = df_APA_Income_Statement.reset_index()
df_APA_Income_Statement = df_APA_Income_Statement.rename(columns={6: 'Per End'})
df_APA_Income_Statement

nan,Per End,Sales,Cost of Goods Sold (COGS) incl. D&A,COGS excluding D&A,Depreciation & Amortization Expense,Depreciation,Gross Income,SG&A Expense,Other SG&A,Other Operating Expense,...,Earnings Persistence,Dividends per Share,Payout Ratio,EBITDA,EBITDA,EBIT,Depreciation & Amortization Expense,All figures in millions of U.S. Dollar except per share items.,Revenue,Operating Expenses
0,JUN '24,2543,1486,821,665,665,1057,85,85,78,...,70.797,0.25,17.190401,NaN,1559,894,665,NaN,2543,1656
1,MAR '24,1951,1203,600,603,603,748,93,93,57,...,78.767,0.25,57.19515,NaN,1201,598,603,NaN,1951,1389
2,DEC '23,2167,1137,661,476,476,1030,75,75,44,...,74.725,0.25,4.328854,NaN,1387,911,476,NaN,2167,1287
3,SEP '23,2308,1190,716,474,474,1118,139,139,61,...,85.756,0.25,16.775146,NaN,1392,918,474,NaN,2308,1468
4,JUN '23,1796,1009,584,425,425,787,72,72,50,...,87.407,0.25,20.27575,NaN,1090,665,425,NaN,1796,1153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SEP '00,625.059,NaN,NaN,153.905,NaN,NaN,18.089,18.089,83.018,...,NaN,0,0,NaN,523.952,370.047,153.905,NaN,625.059,NaN
96,JUN '00,488.206,NaN,NaN,136.338,NaN,NaN,16.593,16.593,69.609,...,NaN,0,0,NaN,402.004,265.666,136.338,NaN,488.206,NaN
97,MAR '00,446.117,193.61,61.461,132.149,NaN,252.507,14.649,14.649,8.966,...,NaN,0.0303,7.290664,NaN,361.041,228.892,132.149,NaN,446.117,222.908
98,DEC '99,448.43,403.136,273.302,129.834,NaN,45.294,16.209,16.209,-158.771,...,NaN,0.0303,8.233696,NaN,317.69,187.856,129.834,NaN,448.43,435.554
99,SEP '99,383.594,163.618,44.429,119.189,NaN,219.976,15.221,15.221,60.646,...,77.077,0.0303,11.863743,NaN,263.298,144.109,119.189,NaN,383.594,194.06

In [11]:
df_APA_Income_Statement.columns

Index(['Per End', 'Sales', 'Cost of Goods Sold (COGS) incl. D&A',
       'COGS excluding D&A', 'Depreciation & Amortization Expense',
       'Depreciation', 'Gross Income', 'SG&A Expense', 'Other SG&A',
       'Other Operating Expense', 'EBIT (Operating Income)',
       'Nonoperating Income - Net', 'Nonoperating Interest Income',
       'Equity in Earnings of Affiliates', 'Other Income (Expense)',
       'Interest Expense', 'Gross Interest Expense', 'Interest Capitalized',
       'Unusual Expense - Net', 'Impairments', 'Property,Plant & Equipment',
       'Restructuring Expense', 'Unrealized Valuation Gain/Loss',
       'Investments', 'Hedges/Derivatives', 'Excpl Chrgs - Others',
       'Restructuring of Debt', 'Pretax Income', 'Income Taxes',
       'Equity in Earnings of Affiliates', 'Other After Tax Adjustments',
       'Consolidated Net Income', 'Minority Interest', 'Net Income',
       'Discontinued Operations', 'Preferred Dividends',
       'Net Income available to Common', 'Per Share', 'EPS (recurring)',
       'EPS (basic)', 'Basic Shares Outstanding', 'Total Shares Outstanding',
       'EPS (diluted)', 'Diluted Shares Outstanding',
       'Total Shares Outstanding', 'Earnings Persistence',
       'Dividends per Share', 'Payout Ratio', 'EBITDA', 'EBITDA', 'EBIT',
       'Depreciation & Amortization Expense',
       'All figures in millions of U.S. Dollar except per share items.',
       'Revenue', 'Operating Expenses'],
      dtype='object', name=nan)

# Clean data for Balance Sheet

In [12]:
df_APA_Balance_Sheet = pd.read_excel('/content/dataset/FNCE-449-term-data-main/FNCE 449 term project data/APA/APA BS.xlsx')
df_APA_Balance_Sheet

,APA Corporation (APA),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100
0,$26.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,APA Corporation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,APA 03743Q108 BNNF1C1 NASDAQ Common s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Total Liabilities & Shareholders' Equity,20195,14952,15244,13545,13244,13213,13147,13629,12924,...,8933.656,9066.735,8965.393,8856.294,NaN,6750.936,6214.799,5717.112,5502.543,4927.536
73,Per Share,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Book Value per Share,14.66366,8.65806,8.74575,3.51373,2.30745,1.43876,1.35769,1.8543,1.75168,...,14.28152,14.21242,13.97197,12.86262,13.14664,11.18728,9.82284,9.31775,8.96417,8.56447
75,Tangible Book Value per Share,14.66366,8.658057,8.745754,3.513732,2.307455,1.43876,1.357688,1.854302,1.751683,...,13.625738,13.544963,13.283051,12.181895,13.146646,11.18728,9.822839,9.317747,8.964167,8.564466
76,All figures in millions of U.S. Dollar except ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_APA_Balance_Sheet.columns = df_APA_Balance_Sheet.iloc[6]
df_APA_Balance_Sheet = df_APA_Balance_Sheet.drop(df_APA_Balance_Sheet.index[0:8])
df_APA_Balance_Sheet

6,NaN,JUN '24,MAR '24,DEC '23,SEP '23,JUN '23,MAR '23,DEC '22,SEP '22,JUN '22,...,DEC '01,SEP '01,JUN '01,MAR '01,DEC '00,SEP '00,JUN '00,MAR '00,DEC '99,SEP '99
8,Assets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Cash & Short-Term Investments,160,102,87,95,142,154,245,268,282,...,138.575,67.851,129.323,106.835,37.173,27.281,18.997,24.511,13.171,16.674
10,Cash Only,160,102,87,95,142,154,245,268,282,...,35.625,67.851,129.323,106.835,37.173,NaN,NaN,NaN,13.171,NaN
11,Total Short Term Investments,0,0,0,0,0,0,0,0,0,...,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
12,Short-Term Receivables,1936,1597,1610,1753,1364,1518,1466,1928,1894,...,404.793,436.605,569.821,553.666,506.723,429.362,367.843,286.747,259.53,272.977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Total Liabilities & Shareholders' Equity,20195,14952,15244,13545,13244,13213,13147,13629,12924,...,8933.656,9066.735,8965.393,8856.294,NaN,6750.936,6214.799,5717.112,5502.543,4927.536
73,Per Share,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Book Value per Share,14.66366,8.65806,8.74575,3.51373,2.30745,1.43876,1.35769,1.8543,1.75168,...,14.28152,14.21242,13.97197,12.86262,13.14664,11.18728,9.82284,9.31775,8.96417,8.56447
75,Tangible Book Value per Share,14.66366,8.658057,8.745754,3.513732,2.307455,1.43876,1.357688,1.854302,1.751683,...,13.625738,13.544963,13.283051,12.181895,13.146646,11.18728,9.822839,9.317747,8.964167,8.564466
76,All figures in millions of U.S. Dollar except ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_APA_Balance_Sheet = df_APA_Balance_Sheet.transpose()
df_APA_Balance_Sheet.columns = df_APA_Balance_Sheet.iloc[0]
df_APA_Balance_Sheet = df_APA_Balance_Sheet.drop(df_APA_Balance_Sheet.index[0])
df_APA_Balance_Sheet

nan,Assets,Cash & Short-Term Investments,Cash Only,Total Short Term Investments,Short-Term Receivables,"Accounts Receivables, Net","Accounts Receivables, Gross",Bad Debt/Doubtful Accounts,Inventories,Progress Payments & Other,...,Other Appropriated Reserves,Treasury Stock,Total Shareholders' Equity,Accumulated Minority Interest,Total Equity,Total Liabilities & Shareholders' Equity,Per Share,Book Value per Share,Tangible Book Value per Share,All figures in millions of U.S. Dollar except per share items.
6,,,,,,,,,,,,,,,,,,,,,
JUN '24,NaN,160,160,0,1936,1936,2058,-122,466,466,...,14,-5934,5423,1072,6495,20195,NaN,14.66366,14.66366,NaN
MAR '24,NaN,102,102,0,1597,1597,1707,-110,472,472,...,15,-5891,2607,1046,3653,14952,NaN,8.65806,8.658057,NaN
DEC '23,NaN,87,87,0,1610,1610,1724,-114,453,453,...,15,-5790,2655,1036,3691,15244,NaN,8.74575,8.745754,NaN
SEP '23,NaN,95,95,0,1753,1753,1856,-103,443,443,...,17,-5667,1078,1029,2107,13545,NaN,3.51373,3.513732,NaN
JUN '23,NaN,142,142,0,1364,1364,1467,-103,488,488,...,17,-5647,709,987,1696,13244,NaN,2.30745,2.307455,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SEP '00,NaN,27.281,NaN,NaN,429.362,NaN,NaN,NaN,54.93,NaN,...,NaN,-69.565,3498.445,0,3498.445,6750.936,NaN,11.18728,11.18728,NaN
JUN '00,NaN,18.997,NaN,NaN,367.843,NaN,NaN,NaN,51.546,NaN,...,NaN,-69.693,2896.352,0,2896.352,6214.799,NaN,9.82284,9.822839,NaN
MAR '00,NaN,24.511,NaN,NaN,286.747,NaN,NaN,NaN,47.666,NaN,...,NaN,-69.684,2754.214,0,2754.214,5717.112,NaN,9.31775,9.317747,NaN
DEC '99,NaN,13.171,13.171,NaN,259.53,NaN,NaN,NaN,45.113,NaN,...,NaN,-52.256,2669.427,0,2669.427,5502.543,NaN,8.96417,8.964167,NaN
SEP '99,NaN,16.674,NaN,NaN,272.977,NaN,NaN,NaN,44.935,NaN,...,NaN,-48.736,2565.89,0,2565.89,4927.536,NaN,8.56447,8.564466,NaN

In [15]:
df_APA_Balance_Sheet = df_APA_Balance_Sheet.reset_index()
df_APA_Balance_Sheet = df_APA_Balance_Sheet.rename(columns={6: 'Per End'})
df_APA_Balance_Sheet

nan,Per End,Assets,Cash & Short-Term Investments,Cash Only,Total Short Term Investments,Short-Term Receivables,"Accounts Receivables, Net","Accounts Receivables, Gross",Bad Debt/Doubtful Accounts,Inventories,...,Other Appropriated Reserves,Treasury Stock,Total Shareholders' Equity,Accumulated Minority Interest,Total Equity,Total Liabilities & Shareholders' Equity,Per Share,Book Value per Share,Tangible Book Value per Share,All figures in millions of U.S. Dollar except per share items.
0,JUN '24,NaN,160,160,0,1936,1936,2058,-122,466,...,14,-5934,5423,1072,6495,20195,NaN,14.66366,14.66366,NaN
1,MAR '24,NaN,102,102,0,1597,1597,1707,-110,472,...,15,-5891,2607,1046,3653,14952,NaN,8.65806,8.658057,NaN
2,DEC '23,NaN,87,87,0,1610,1610,1724,-114,453,...,15,-5790,2655,1036,3691,15244,NaN,8.74575,8.745754,NaN
3,SEP '23,NaN,95,95,0,1753,1753,1856,-103,443,...,17,-5667,1078,1029,2107,13545,NaN,3.51373,3.513732,NaN
4,JUN '23,NaN,142,142,0,1364,1364,1467,-103,488,...,17,-5647,709,987,1696,13244,NaN,2.30745,2.307455,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SEP '00,NaN,27.281,NaN,NaN,429.362,NaN,NaN,NaN,54.93,...,NaN,-69.565,3498.445,0,3498.445,6750.936,NaN,11.18728,11.18728,NaN
96,JUN '00,NaN,18.997,NaN,NaN,367.843,NaN,NaN,NaN,51.546,...,NaN,-69.693,2896.352,0,2896.352,6214.799,NaN,9.82284,9.822839,NaN
97,MAR '00,NaN,24.511,NaN,NaN,286.747,NaN,NaN,NaN,47.666,...,NaN,-69.684,2754.214,0,2754.214,5717.112,NaN,9.31775,9.317747,NaN
98,DEC '99,NaN,13.171,13.171,NaN,259.53,NaN,NaN,NaN,45.113,...,NaN,-52.256,2669.427,0,2669.427,5502.543,NaN,8.96417,8.964167,NaN
99,SEP '99,NaN,16.674,NaN,NaN,272.977,NaN,NaN,NaN,44.935,...,NaN,-48.736,2565.89,0,2565.89,4927.536,NaN,8.56447,8.564466,NaN

In [16]:
df_APA_Balance_Sheet.columns

Index(['Per End', 'Assets', 'Cash & Short-Term Investments', 'Cash Only',
       'Total Short Term Investments', 'Short-Term Receivables',
       'Accounts Receivables, Net', 'Accounts Receivables, Gross',
       'Bad Debt/Doubtful Accounts', 'Inventories',
       'Progress Payments & Other', 'Other Current Assets', 'Prepaid Expenses',
       'Miscellaneous Current Assets', 'Total Current Assets',
       'Net Property, Plant & Equipment',
       'Property, Plant & Equipment - Gross', 'Machinery & Equipment',
       'Other Property, Plant & Equipment', 'Accumulated Depreciation',
       'Total Long-Term Investments ', 'LT Investment - Affiliate Companies',
       'Other Long-Term Investments', 'Long-Term Note Receivable',
       'Intangible Assets', 'Goodwill', 'Other Intangible Assets',
       'Deferred Tax Assets', 'Other Assets', 'Deferred Charges',
       'Tangible Other Assets', 'Total Assets',
       'Liabilities & Shareholders' Equity', 'Current',
       'ST Debt & Curr. Portion LT Debt', 'Accounts Payable',
       'Income Tax Payable', 'Other Current Liabilities', 'Accrued Payroll',
       'Miscellaneous Current Liabilities', 'Total Current Liabilities',
       'Long-Term', 'Long-Term Debt', 'Long-Term Debt excl Lease Obligations',
       'Capital and Operating Lease Obligations',
       'Provision for Risks & Charges', 'Deferred Tax Liabilities',
       'Other Liabilities', 'Other Liabilities (excl. Deferred Income)',
       'Total Liabilities', 'Equity', 'Preferred Stock (Carrying Value)',
       'Redeemable Preferred Stock', 'Non-Redeemable Preferred Stock',
       'Common Equity', 'Common Stock Par/Carry Value',
       'Additional Paid-In Capital/Capital Surplus', 'Retained Earnings',
       'Cumulative Translation Adjustment/Unrealized For. Exch. Gain',
       'Unrealized Gain/Loss Marketable Securities',
       'Other Appropriated Reserves', 'Treasury Stock',
       'Total Shareholders' Equity', 'Accumulated Minority Interest',
       'Total Equity', 'Total Liabilities & Shareholders' Equity', 'Per Share',
       'Book Value per Share', 'Tangible Book Value per Share',
       'All figures in millions of U.S. Dollar except per share items.'],
      dtype='object', name=nan)

In [17]:
df_APA_Balance_Sheet[['Total Assets', 'Total Liabilities', "Total Shareholders' Equity"]]

nan Total Assets Total Liabilities Total Shareholders' Equity
0          20195             13700                       5423
1          14952             11299                       2607
2          15244             11553                       2655
3          13545             11438                       1078
4          13244             11548                        709
..           ...               ...                        ...
95      6750.936          3252.491                   3498.445
96      6214.799          3318.447                   2896.352
97      5717.112          2962.898                   2754.214
98      5502.543          2833.116                   2669.427
99      4927.536          2361.646                    2565.89

[100 rows x 3 columns]

# Clean data for Cash Flow

In [18]:
df_APA_Cash_Flow = pd.read_excel('/content/dataset/FNCE-449-term-data-main/FNCE 449 term project data/APA/APA CF.xlsx')
df_APA_Cash_Flow

,APA Corporation (APA),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96,Unnamed: 97,Unnamed: 98,Unnamed: 99,Unnamed: 100
0,$26.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,APA Corporation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,APA 03743Q108 BNNF1C1 NASDAQ Common s...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Source: FactSet Fundamentals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,JUN '24,MAR '24,DEC '23,SEP '23,JUN '23,MAR '23,DEC '22,SEP '22,JUN '22,...,DEC '01,SEP '01,JUN '01,MAR '01,DEC '00,SEP '00,JUN '00,MAR '00,DEC '99,SEP '99
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Operating Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Net Income / Starting Line,620,212,1864,555,462,326,539,530,1067,...,78.62,156.833,205.745,282.201,252.776,206.178,145.337,116.304,97.477,72.778
10,"Depreciation, Depletion & Amortization",665,603,476,474,425,395,462,421,345,...,222.628,217.021,208.652,172.53,161.154,153.905,136.338,132.149,129.834,119.189
11,Depreciation and Depletion,665,603,476,474,425,395,462,421,345,...,222.628,217.021,208.652,172.53,161.154,153.905,136.338,132.149,129.834,119.189
12,Deferred Taxes & Investment Tax Credit,23,-65,-1640,-144,-16,138,-80,285,-20,...,27.98,85.076,93.238,98.92,143.774,91.748,63.463,51.718,NaN,NaN
13,Deferred Taxes,23,-65,-1640,-144,-16,138,-80,285,-20,...,27.98,85.076,93.238,98.92,143.774,91.748,63.463,51.718,35.582,31.482
14,Other Funds,-241,77,307,40,-103,-13,123,2,-6,...,-11.76,-27.909,41.827,5.743,19.884,0.778,-0.497,0.531,3.307,0.478
15,Funds from Operations,1067,827,1007,925,768,846,1044,1238,1386,...,317.468,431.021,549.462,559.394,577.588,452.609,344.641,300.702,266.2,223.927
16,Changes in Working Capital,-190,-459,23,-161,232,-511,369,-134,149,...,67.78,28.379,-101.928,83.151,-9.323,-38.735,-39.636,-58.46,-17.407,1.526
17,Receivables,-119,18,132,-389,153,-53,461,-35,-264,...,36.457,132.173,-13.947,44.477,-78.918,-64.106,-83.297,-27.4,13.021,-51.684
18,Inventories,15,-17,-6,64,-14,-31,80,-63,25,...,-4.066,0.192,0.976,-0.107,NaN,-2.884,-1.791,-1.883,NaN,NaN
19,Accounts Payable,-162,37,-82,110,-2,-110,-179,-31,188,...,-86.382,-31.929,-84.022,58.364,55.999,13.184,47.927,-5.269,-26.188,56.7
20,Other Accruals,120,-432,-401,164,156,-319,54,47,184,...,44.463,-27.065,7.299,15.095,74.853,-14.516,-1.528,-13.528,11.435,7.071
21,Other Assets/Liabilities,-44,-65,380,-110,-61,2,-47,-52,16,...,77.308,-44.992,-12.234,-34.678,-67.815,29.587,-0.947,-10.38,-15.675,-10.917
22,Net Operating Cash Flow,877,368,1030,764,1000,335,1413,1104,1535,...,385.248,459.4,447.534,642.545,568.265,413.874,305.005,242.242,248.793,225.453
23,Investing Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Capital Expenditures,-756,-530,-575,-629,-580,-549,-609,-431,-388,...,-348.881,-399.442,-431.468,-344.982,-331.19,-253.6,-252.433,-173.305,-165.618,-147.147
25,Capital Expenditures (Fixed Assets),-756,-530,-575,-629,-580,-549,-609,-431,-388,...,-348.881,-399.442,-431.468,-344.982,-331.19,-253.6,-252.433,-173.305,-165.618,-147.147
26,Net Assets from Acquisitions,0,0,0,-24,0,0,-28,-563,0,...,-66.057,-11,0,-911.951,-479.469,-337.119,-314.703,-119.525,-523.618,-1.024
27,Sale of Fixed Assets & Businesses,702,27,0,1,7,21,0,27,-16,...,115.015,-5.434,110.052,128.663,6.147,-1.1,3.487,17.737,5.489,46.565
28,Purchase/Sale of Investments,0,428,228,0,0,0,0,0,2,...,-103.863,0,0,0,0,0,0.638,-0.638,-5.282,0
29,Purchase of Investments,0,0,0,0,0,0,0,0,-2,...,103.863,0,0,0,0,0,-0.638,0.638,5.282,0
30,Sale/Maturity of Investments,0,428,228,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,Other Funds,-10,-13,-9,-15,-10,-4,20,57,-48,...,98.432,-128.815,-7.119,-39.333,-26.032,-3.552,-5.214,-2.077,-3.672,-2.926
32,Other Uses,-10,-13,-9,-15,-10,-4,0,49,-48,...,98.432,-128.815,-7.119,-39.333,-26.032,-3.552,-5.214,-2.077,-3.672,-2.926
33,Other Sources,0,0,0,0,0,0,20,8,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Net Investing Cash Flow,-64,-88,-356,-667,-583,-532,-617,-910,-450,...,-313.288,-603.019,-295.428,-1102.329,-798.205,-578.977,-577.998,-273.834,-670.57,-104.616
35,Financing Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Cash Dividends Paid,-92,-76,-76,-77,-77,-78,-80,-41,-43,...,-39.806,-4.908,-4.908,-4.87,-22.204,-4.946,-12.869,-12.926,-12.933,-12.799
37,Common Dividends,-92,-76,-76,-77,-77,-78,-80,-41,-43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-12.926,NaN,NaN
38,Preferred Dividends,0,0,0,0,0,0,0,0,0,...,14.686,-4.908,-4.908,-4.87,NaN,NaN,NaN,NaN,NaN,NaN
39,Change in Capital Stock,-43,-101,-121,-20,-46,-142,-539,-332,-291,...,1.127,-26.718,2.874,4.251,6.99,439.783,11.62,-14.268,-4.609,9.614
40,Repurchase of Common & Preferred Stk.,-43,-101,-121,-20,-46,-142,-539,-332,-291,...,0.044,-26.997,NaN,NaN,-0.003,0,0,-20.34,-3.531,NaN
41,Sale of Common & Preferred Stock,0,0,0,0,0,0,0,0,0,...,1.083,0.279,2.874,4.251,6.993,439.783,11.62,6.072,-1.078,9.614
42,Proceeds from Sale of Stock,0,0,0,0,0,0,0,0,0,...,8.487,0,-4.251,4.251,6.993,439.783,11.62,6.072,-1.078,9.614
43,Proceeds from Stock Options,0,0,0,0,0,0,0,0,0,...,-7.404,0.279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,"Issuance/Reduction of Debt, Net",-548,-2,-396,6,-221,352,-77,245,-605,...,-67.155,-326.414,-110.691,530.359,254.307,-260.714,268.728,70.129,439.164,-110.999
45,Change in Current Debt,0,0,0,0,0,0,0,0,0,...,NaN,NaN,0,0,0,0,0,0,0,0
46,Change in Long-Term Debt,-548,-2,-396,6,-221,352,-77,245,-605,...,-67.155,-326.414,-110.691,530.359,254.307,-260.714,268.728,70.129,439.164,-110.999
47,Issuance of Long-Term Debt,1563,0,-202,6,-221,417,24,0,-338,...,481.326,747.133,355.122,1176.159,506.132,82.411,363.761,173.677,869.113,102.959
48,Reduction in Long-Term Debt,-2111,-2,-194,0,0,-65,-101,245,-267,...,-548.481,-1073.547,-465.813,-645.8,-251.825,-343.125,-95.033,-103.548,-429.949,-213.958
49,Other Funds,-72,-86,-89,-53,-85,-26,-123,-80,-98,...,1.648,440.187,-0.887,-0.294,0.739,-0.736,0,-0.003,-3.348,-0.334
50,Other Uses,-72,-86,-89,-53,-85,-26,-123,-80,-98,...,1.648,-0.467,-0.887,-0.294,0.739,-0.736,0,-0.003,-3.348,-0.334
51,Other Sources,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,440.654,0,0,0,0,0,0,0,NaN
52,Net Financing Cash Flow,-755,-265,-682,-144,-429,106,-819,-208,-1037,...,-104.186,82.147,-129.618,529.446,239.832,173.387,267.479,42.932,418.274,-126.59
53,All Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Net Change in Cash,58,15,-8,-47,-12,-91,-23,-14,48,...,-32.226,-61.472,22.488,69.662,9.892,8.284,-5.514,11.34,-3.503,-5.753
55,Free Cash Flow,121,-162,455,135,420,-214,804,673,1147,...,36.367,59.958,16.066,297.563,237.075,160.274,52.572,68.937,83.175,78.306
56,Free Cash Flow per Share,0.325269,-0.536424,1.482085,0.438312,1.359223,-0.685897,2.496894,2.039394,3.353801,...,0.119926,0.197961,0.052637,0.985036,0.830144,0.545916,0.188568,0.248461,0.332304,0.297128
57,Free Cash Flow Yield (%),5.01293,8.167385,7.226404,9.045091,15.939719,21.420851,20.863604,27.493419,24.832856,...,5.691576,10.831205,10.602674,9.921772,5.990217,4.856761,3.98682,3.960926,1.170769,-2.703496
58,All figures in millions of U.S. Dollar except ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_APA_Cash_Flow.columns = df_APA_Cash_Flow.iloc[6]
df_APA_Cash_Flow = df_APA_Cash_Flow.drop(df_APA_Cash_Flow.index[0:8])
df_APA_Cash_Flow

6,NaN,JUN '24,MAR '24,DEC '23,SEP '23,JUN '23,MAR '23,DEC '22,SEP '22,JUN '22,...,DEC '01,SEP '01,JUN '01,MAR '01,DEC '00,SEP '00,JUN '00,MAR '00,DEC '99,SEP '99
8,Operating Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Net Income / Starting Line,620,212,1864,555,462,326,539,530,1067,...,78.62,156.833,205.745,282.201,252.776,206.178,145.337,116.304,97.477,72.778
10,"Depreciation, Depletion & Amortization",665,603,476,474,425,395,462,421,345,...,222.628,217.021,208.652,172.53,161.154,153.905,136.338,132.149,129.834,119.189
11,Depreciation and Depletion,665,603,476,474,425,395,462,421,345,...,222.628,217.021,208.652,172.53,161.154,153.905,136.338,132.149,129.834,119.189
12,Deferred Taxes & Investment Tax Credit,23,-65,-1640,-144,-16,138,-80,285,-20,...,27.98,85.076,93.238,98.92,143.774,91.748,63.463,51.718,NaN,NaN
13,Deferred Taxes,23,-65,-1640,-144,-16,138,-80,285,-20,...,27.98,85.076,93.238,98.92,143.774,91.748,63.463,51.718,35.582,31.482
14,Other Funds,-241,77,307,40,-103,-13,123,2,-6,...,-11.76,-27.909,41.827,5.743,19.884,0.778,-0.497,0.531,3.307,0.478
15,Funds from Operations,1067,827,1007,925,768,846,1044,1238,1386,...,317.468,431.021,549.462,559.394,577.588,452.609,344.641,300.702,266.2,223.927
16,Changes in Working Capital,-190,-459,23,-161,232,-511,369,-134,149,...,67.78,28.379,-101.928,83.151,-9.323,-38.735,-39.636,-58.46,-17.407,1.526
17,Receivables,-119,18,132,-389,153,-53,461,-35,-264,...,36.457,132.173,-13.947,44.477,-78.918,-64.106,-83.297,-27.4,13.021,-51.684
18,Inventories,15,-17,-6,64,-14,-31,80,-63,25,...,-4.066,0.192,0.976,-0.107,NaN,-2.884,-1.791,-1.883,NaN,NaN
19,Accounts Payable,-162,37,-82,110,-2,-110,-179,-31,188,...,-86.382,-31.929,-84.022,58.364,55.999,13.184,47.927,-5.269,-26.188,56.7
20,Other Accruals,120,-432,-401,164,156,-319,54,47,184,...,44.463,-27.065,7.299,15.095,74.853,-14.516,-1.528,-13.528,11.435,7.071
21,Other Assets/Liabilities,-44,-65,380,-110,-61,2,-47,-52,16,...,77.308,-44.992,-12.234,-34.678,-67.815,29.587,-0.947,-10.38,-15.675,-10.917
22,Net Operating Cash Flow,877,368,1030,764,1000,335,1413,1104,1535,...,385.248,459.4,447.534,642.545,568.265,413.874,305.005,242.242,248.793,225.453
23,Investing Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Capital Expenditures,-756,-530,-575,-629,-580,-549,-609,-431,-388,...,-348.881,-399.442,-431.468,-344.982,-331.19,-253.6,-252.433,-173.305,-165.618,-147.147
25,Capital Expenditures (Fixed Assets),-756,-530,-575,-629,-580,-549,-609,-431,-388,...,-348.881,-399.442,-431.468,-344.982,-331.19,-253.6,-252.433,-173.305,-165.618,-147.147
26,Net Assets from Acquisitions,0,0,0,-24,0,0,-28,-563,0,...,-66.057,-11,0,-911.951,-479.469,-337.119,-314.703,-119.525,-523.618,-1.024
27,Sale of Fixed Assets & Businesses,702,27,0,1,7,21,0,27,-16,...,115.015,-5.434,110.052,128.663,6.147,-1.1,3.487,17.737,5.489,46.565
28,Purchase/Sale of Investments,0,428,228,0,0,0,0,0,2,...,-103.863,0,0,0,0,0,0.638,-0.638,-5.282,0
29,Purchase of Investments,0,0,0,0,0,0,0,0,-2,...,103.863,0,0,0,0,0,-0.638,0.638,5.282,0
30,Sale/Maturity of Investments,0,428,228,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,Other Funds,-10,-13,-9,-15,-10,-4,20,57,-48,...,98.432,-128.815,-7.119,-39.333,-26.032,-3.552,-5.214,-2.077,-3.672,-2.926
32,Other Uses,-10,-13,-9,-15,-10,-4,0,49,-48,...,98.432,-128.815,-7.119,-39.333,-26.032,-3.552,-5.214,-2.077,-3.672,-2.926
33,Other Sources,0,0,0,0,0,0,20,8,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Net Investing Cash Flow,-64,-88,-356,-667,-583,-532,-617,-910,-450,...,-313.288,-603.019,-295.428,-1102.329,-798.205,-578.977,-577.998,-273.834,-670.57,-104.616
35,Financing Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Cash Dividends Paid,-92,-76,-76,-77,-77,-78,-80,-41,-43,...,-39.806,-4.908,-4.908,-4.87,-22.204,-4.946,-12.869,-12.926,-12.933,-12.799
37,Common Dividends,-92,-76,-76,-77,-77,-78,-80,-41,-43,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-12.926,NaN,NaN
38,Preferred Dividends,0,0,0,0,0,0,0,0,0,...,14.686,-4.908,-4.908,-4.87,NaN,NaN,NaN,NaN,NaN,NaN
39,Change in Capital Stock,-43,-101,-121,-20,-46,-142,-539,-332,-291,...,1.127,-26.718,2.874,4.251,6.99,439.783,11.62,-14.268,-4.609,9.614
40,Repurchase of Common & Preferred Stk.,-43,-101,-121,-20,-46,-142,-539,-332,-291,...,0.044,-26.997,NaN,NaN,-0.003,0,0,-20.34,-3.531,NaN
41,Sale of Common & Preferred Stock,0,0,0,0,0,0,0,0,0,...,1.083,0.279,2.874,4.251,6.993,439.783,11.62,6.072,-1.078,9.614
42,Proceeds from Sale of Stock,0,0,0,0,0,0,0,0,0,...,8.487,0,-4.251,4.251,6.993,439.783,11.62,6.072,-1.078,9.614
43,Proceeds from Stock Options,0,0,0,0,0,0,0,0,0,...,-7.404,0.279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,"Issuance/Reduction of Debt, Net",-548,-2,-396,6,-221,352,-77,245,-605,...,-67.155,-326.414,-110.691,530.359,254.307,-260.714,268.728,70.129,439.164,-110.999
45,Change in Current Debt,0,0,0,0,0,0,0,0,0,...,NaN,NaN,0,0,0,0,0,0,0,0
46,Change in Long-Term Debt,-548,-2,-396,6,-221,352,-77,245,-605,...,-67.155,-326.414,-110.691,530.359,254.307,-260.714,268.728,70.129,439.164,-110.999
47,Issuance of Long-Term Debt,1563,0,-202,6,-221,417,24,0,-338,...,481.326,747.133,355.122,1176.159,506.132,82.411,363.761,173.677,869.113,102.959
48,Reduction in Long-Term Debt,-2111,-2,-194,0,0,-65,-101,245,-267,...,-548.481,-1073.547,-465.813,-645.8,-251.825,-343.125,-95.033,-103.548,-429.949,-213.958
49,Other Funds,-72,-86,-89,-53,-85,-26,-123,-80,-98,...,1.648,440.187,-0.887,-0.294,0.739,-0.736,0,-0.003,-3.348,-0.334
50,Other Uses,-72,-86,-89,-53,-85,-26,-123,-80,-98,...,1.648,-0.467,-0.887,-0.294,0.739,-0.736,0,-0.003,-3.348,-0.334
51,Other Sources,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,440.654,0,0,0,0,0,0,0,NaN
52,Net Financing Cash Flow,-755,-265,-682,-144,-429,106,-819,-208,-1037,...,-104.186,82.147,-129.618,529.446,239.832,173.387,267.479,42.932,418.274,-126.59
53,All Activities,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Net Change in Cash,58,15,-8,-47,-12,-91,-23,-14,48,...,-32.226,-61.472,22.488,69.662,9.892,8.284,-5.514,11.34,-3.503,-5.753
55,Free Cash Flow,121,-162,455,135,420,-214,804,673,1147,...,36.367,59.958,16.066,297.563,237.075,160.274,52.572,68.937,83.175,78.306
56,Free Cash Flow per Share,0.325269,-0.536424,1.482085,0.438312,1.359223,-0.685897,2.496894,2.039394,3.353801,...,0.119926,0.197961,0.052637,0.985036,0.830144,0.545916,0.188568,0.248461,0.332304,0.297128
57,Free Cash Flow Yield (%),5.01293,8.167385,7.226404,9.045091,15.939719,21.420851,20.863604,27.493419,24.832856,...,5.691576,10.831205,10.602674,9.921772,5.990217,4.856761,3.98682,3.960926,1.170769,-2.703496
58,All figures in millions of U.S. Dollar except ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_APA_Cash_Flow = df_APA_Cash_Flow.transpose()
df_APA_Cash_Flow.columns = df_APA_Cash_Flow.iloc[0]
df_APA_Cash_Flow = df_APA_Cash_Flow.drop(df_APA_Cash_Flow.index[0])
df_APA_Cash_Flow

nan,Operating Activities,Net Income / Starting Line,"Depreciation, Depletion & Amortization",Depreciation and Depletion,Deferred Taxes & Investment Tax Credit,Deferred Taxes,Other Funds,Funds from Operations,Changes in Working Capital,Receivables,...,Other Funds,Other Uses,Other Sources,Net Financing Cash Flow,All Activities,Net Change in Cash,Free Cash Flow,Free Cash Flow per Share,Free Cash Flow Yield (%),All figures in millions of U.S. Dollar except per share items.
6,,,,,,,,,,,,,,,,,,,,,
JUN '24,NaN,620,665,665,23,23,-241,1067,-190,-119,...,-72,-72,NaN,-755,NaN,58,121,0.325269,5.01293,NaN
MAR '24,NaN,212,603,603,-65,-65,77,827,-459,18,...,-86,-86,NaN,-265,NaN,15,-162,-0.536424,8.167385,NaN
DEC '23,NaN,1864,476,476,-1640,-1640,307,1007,23,132,...,-89,-89,NaN,-682,NaN,-8,455,1.482085,7.226404,NaN
SEP '23,NaN,555,474,474,-144,-144,40,925,-161,-389,...,-53,-53,NaN,-144,NaN,-47,135,0.438312,9.045091,NaN
JUN '23,NaN,462,425,425,-16,-16,-103,768,232,153,...,-85,-85,NaN,-429,NaN,-12,420,1.359223,15.939719,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SEP '00,NaN,206.178,153.905,153.905,91.748,91.748,0.778,452.609,-38.735,-64.106,...,-0.736,-0.736,0,173.387,NaN,8.284,160.274,0.545916,4.856761,NaN
JUN '00,NaN,145.337,136.338,136.338,63.463,63.463,-0.497,344.641,-39.636,-83.297,...,0,0,0,267.479,NaN,-5.514,52.572,0.188568,3.98682,NaN
MAR '00,NaN,116.304,132.149,132.149,51.718,51.718,0.531,300.702,-58.46,-27.4,...,-0.003,-0.003,0,42.932,NaN,11.34,68.937,0.248461,3.960926,NaN
DEC '99,NaN,97.477,129.834,129.834,NaN,35.582,3.307,266.2,-17.407,13.021,...,-3.348,-3.348,0,418.274,NaN,-3.503,83.175,0.332304,1.170769,NaN
SEP '99,NaN,72.778,119.189,119.189,NaN,31.482,0.478,223.927,1.526,-51.684,...,-0.334,-0.334,NaN,-126.59,NaN,-5.753,78.306,0.297128,-2.703496,NaN

In [21]:
df_APA_Cash_Flow = df_APA_Cash_Flow.reset_index()
df_APA_Cash_Flow = df_APA_Cash_Flow.rename(columns={6: 'Per End'})
df_APA_Cash_Flow

nan,Per End,Operating Activities,Net Income / Starting Line,"Depreciation, Depletion & Amortization",Depreciation and Depletion,Deferred Taxes & Investment Tax Credit,Deferred Taxes,Other Funds,Funds from Operations,Changes in Working Capital,...,Other Funds,Other Uses,Other Sources,Net Financing Cash Flow,All Activities,Net Change in Cash,Free Cash Flow,Free Cash Flow per Share,Free Cash Flow Yield (%),All figures in millions of U.S. Dollar except per share items.
0,JUN '24,NaN,620,665,665,23,23,-241,1067,-190,...,-72,-72,NaN,-755,NaN,58,121,0.325269,5.01293,NaN
1,MAR '24,NaN,212,603,603,-65,-65,77,827,-459,...,-86,-86,NaN,-265,NaN,15,-162,-0.536424,8.167385,NaN
2,DEC '23,NaN,1864,476,476,-1640,-1640,307,1007,23,...,-89,-89,NaN,-682,NaN,-8,455,1.482085,7.226404,NaN
3,SEP '23,NaN,555,474,474,-144,-144,40,925,-161,...,-53,-53,NaN,-144,NaN,-47,135,0.438312,9.045091,NaN
4,JUN '23,NaN,462,425,425,-16,-16,-103,768,232,...,-85,-85,NaN,-429,NaN,-12,420,1.359223,15.939719,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SEP '00,NaN,206.178,153.905,153.905,91.748,91.748,0.778,452.609,-38.735,...,-0.736,-0.736,0,173.387,NaN,8.284,160.274,0.545916,4.856761,NaN
96,JUN '00,NaN,145.337,136.338,136.338,63.463,63.463,-0.497,344.641,-39.636,...,0,0,0,267.479,NaN,-5.514,52.572,0.188568,3.98682,NaN
97,MAR '00,NaN,116.304,132.149,132.149,51.718,51.718,0.531,300.702,-58.46,...,-0.003,-0.003,0,42.932,NaN,11.34,68.937,0.248461,3.960926,NaN
98,DEC '99,NaN,97.477,129.834,129.834,NaN,35.582,3.307,266.2,-17.407,...,-3.348,-3.348,0,418.274,NaN,-3.503,83.175,0.332304,1.170769,NaN
99,SEP '99,NaN,72.778,119.189,119.189,NaN,31.482,0.478,223.927,1.526,...,-0.334,-0.334,NaN,-126.59,NaN,-5.753,78.306,0.297128,-2.703496,NaN

In [22]:
df_APA_Cash_Flow[['Net Operating Cash Flow', 'Net Investing Cash Flow']]

nan Net Operating Cash Flow Net Investing Cash Flow
0                       877                     -64
1                       368                     -88
2                      1030                    -356
3                       764                    -667
4                      1000                    -583
..                      ...                     ...
95                  413.874                -578.977
96                  305.005                -577.998
97                  242.242                -273.834
98                  248.793                 -670.57
99                  225.453                -104.616

[100 rows x 2 columns]

#### **2.2. Financial Ratios**
- **P/E Ratio**: Stock Price / EPS.
- **P/B Ratio**: Stock Price / Book Value Per Share.
- **PEG Ratio**: P/E Ratio / Earnings Growth Rate.
- **Debt-to-Equity Ratio (D/E)**: A measure of financial leverage.

In [23]:
pd_APA_test = pd.read_excel('/content/dataset/FNCE-449-term-data-main/FNCE 449 original/APA/APA Earnings surprise.xlsx')
pd_APA_test

,Ann Date,Per,Per End,C,Reported,Comp,Estimate,%Surp,Guidance,%Guid Surp,%Px Chg,T12M,P/E
0,Average of Absolute Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07/31/2025,Q2 25,06/25,NaN,NaN,NaN,0.803,NaN,NaN,NaN,NaN,3.42,7.85
2,05/01/2025,Q1 25,03/25,NaN,NaN,NaN,0.825,NaN,NaN,NaN,NaN,3.79,7.09
3,02/21/2025,Q4 24,12/24,NaN,NaN,NaN,0.858,NaN,NaN,NaN,NaN,3.75,7.16
4,11/06/2024,Q3 24,09/24,NaN,NaN,NaN,0.936,NaN,NaN,NaN,NaN,4.04,6.65
5,07/31/2024,Q2 24,06/24,NaN,1.170,1.17,0.881,32.80%,NaN,NaN,-0.35%,4.44,6.63
6,05/01/2024,Q1 24,03/24,NaN,0.785,0.78,0.922,-15.40%,NaN,NaN,-4.33%,4.12,8.34
7,02/21/2024,Q4 23,12/23,NaN,1.150,1.15,1.326,-13.27%,NaN,NaN,-3.88%,4.53,7.92
8,11/01/2023,Q3 23,09/23,NaN,1.331,1.33,1.099,21.02%,NaN,NaN,0.20%,4.86,8.46
9,08/02/2023,Q2 23,06/23,NaN,0.851,0.85,0.806,5.46%,NaN,NaN,6.79%,5.50,6.21
10,05/03/2023,Q1 23,03/23,NaN,1.196,1.19,1.012,17.59%,NaN,NaN,-5.59%,7.04,5.12
11,02/21/2023,Q4 22,12/22,NaN,1.482,1.48,1.336,10.78%,NaN,NaN,-0.53%,7.77,6.01
12,11/02/2022,Q3 22,09/22,NaN,1.971,1.97,1.907,3.30%,NaN,NaN,6.89%,7.77,4.40
13,08/03/2022,Q2 22,06/22,NaN,2.387,2.37,2.325,1.94%,NaN,NaN,-10.89%,6.78,5.15
14,05/04/2022,Q1 22,03/22,NaN,1.929,1.92,2.109,-8.96%,NaN,NaN,-8.63%,5.09,8.12
15,02/21/2022,Q4 21,12/21,NaN,1.486,1.29,1.472,-12.36%,NaN,NaN,-3.48%,4.08,6.59
16,11/03/2021,Q3 21,09/21,NaN,0.980,0.98,0.952,2.94%,NaN,NaN,5.25%,2.58,8.31
17,08/04/2021,Q2 21,06/21,NaN,0.699,0.70,0.570,22.81%,NaN,NaN,1.75%,1.46,14.82
18,05/05/2021,Q1 21,03/21,NaN,0.920,0.91,0.713,27.63%,NaN,NaN,2.19%,0.04,447.50
19,02/24/2021,Q4 20,12/20,NaN,-0.016,-0.05,-0.116,56.90%,NaN,NaN,-3.27%,-0.49,NaN
20,11/04/2020,Q3 20,09/20,NaN,-0.140,-0.16,-0.356,55.06%,NaN,NaN,-0.22%,0.17,55.71
21,07/29/2020,Q2 20,06/20,NaN,-0.722,-0.74,-1.006,26.44%,NaN,NaN,17.29%,-0.07,NaN
22,05/06/2020,Q1 20,03/20,NaN,0.390,-0.13,-0.314,58.60%,NaN,NaN,2.33%,1.06,3.94
23,02/26/2020,Q4 19,12/19,NaN,0.645,0.08,-0.058,N.M.,NaN,NaN,2.62%,0.78,32.81
24,10/30/2019,Q3 19,09/19,NaN,-0.382,-0.29,-0.187,-55.08%,NaN,NaN,1.40%,0.51,50.20
25,07/31/2019,Q2 19,06/19,NaN,0.406,0.11,0.067,64.18%,NaN,NaN,-1.23%,1.50,19.31
26,05/01/2019,Q1 19,03/19,NaN,0.116,0.10,0.126,-20.63%,NaN,NaN,-6.09%,1.57,22.08
27,02/27/2019,Q4 18,12/18,NaN,0.369,0.31,0.237,30.80%,NaN,NaN,-1.13%,1.75,15.00
28,10/31/2018,Q3 18,09/18,NaN,0.610,0.63,0.473,33.19%,NaN,NaN,-3.81%,1.71,27.88
29,08/01/2018,Q2 18,06/18,NaN,0.474,0.50,0.402,24.38%,NaN,NaN,-1.18%,1.13,41.37
30,05/02/2018,Q1 18,03/18,NaN,0.298,0.32,0.282,13.48%,NaN,NaN,-6.14%,0.45,85.51
31,02/22/2018,Q4 17,12/17,NaN,0.328,0.33,0.242,36.36%,NaN,NaN,-6.32%,0.23,183.57
32,11/02/2017,Q3 17,09/17,NaN,0.032,0.04,-0.021,N.M.,NaN,NaN,-1.30%,-0.15,NaN
33,08/03/2017,Q2 17,06/17,NaN,-0.207,-0.21,-0.021,-900.00%,NaN,NaN,-8.04%,-0.22,NaN
34,05/04/2017,Q1 17,03/17,NaN,0.082,0.08,0.136,-41.18%,NaN,NaN,-1.84%,-0.28,NaN
35,02/23/2017,Q4 16,12/16,NaN,-0.059,-0.06,0.067,N.M.,NaN,NaN,-3.51%,-1.19,NaN
36,11/03/2016,Q3 16,09/16,NaN,-0.032,-0.03,-0.143,79.02%,NaN,NaN,-6.63%,-1.19,NaN
37,08/04/2016,Q2 16,06/16,NaN,-0.267,0.05,-0.141,N.M.,NaN,NaN,-3.00%,-1.25,NaN
38,05/05/2016,Q1 16,03/16,NaN,-0.831,-0.40,-0.886,54.85%,NaN,NaN,8.06%,-0.52,NaN
39,02/25/2016,Q4 15,12/15,NaN,-0.063,-0.06,-0.489,87.73%,NaN,NaN,-2.10%,-0.13,NaN
40,11/05/2015,Q3 15,09/15,NaN,-0.087,-0.05,-0.375,86.67%,NaN,NaN,-0.24%,0.81,48.35
41,08/06/2015,Q2 15,06/15,NaN,0.463,0.22,-0.276,N.M.,NaN,NaN,4.86%,2.18,26.44
42,05/07/2015,Q1 15,03/15,NaN,-0.446,-0.37,-0.595,37.82%,NaN,NaN,-3.36%,3.21,18.79
43,02/12/2015,Q4 14,12/14,NaN,0.882,1.07,0.757,41.35%,NaN,NaN,-0.26%,5.43,11.54
44,11/06/2014,Q3 14,09/14,NaN,1.278,1.38,1.384,-0.29%,NaN,NaN,-0.16%,5.52,17.01
45,07/31/2014,Q2 14,06/14,NaN,1.496,1.67,1.642,1.71%,NaN,NaN,1.35%,6.84,14.71
46,05/08/2014,Q1 14,03/14,NaN,1.779,1.78,1.607,10.70%,NaN,NaN,0.31%,NaN,NaN
47,02/13/2014,Q4 13,12/13,NaN,0.964,1.57,1.805,-13.02%,NaN,NaN,-0.39%,NaN,NaN
48,11/07/2013,Q3 13,09/13,NaN,2.604,2.32,2.165,7.16%,NaN,NaN,0.16%,NaN,NaN

# Earning suprise

In [24]:
df_Earning_Surprise = pd.read_excel('/content/dataset/FNCE-449-term-data-main/FNCE 449 term project data/APA/APA Earnings surprise.xlsx')
df_Earning_Surprise = df_Earning_Surprise.drop(df_Earning_Surprise.index[0:1])

In [25]:
pd_APA_test['Price'] = df_Earning_Surprise['Price']
pd_APA_test

,Ann Date,Per,Per End,C,Reported,Comp,Estimate,%Surp,Guidance,%Guid Surp,%Px Chg,T12M,P/E,Price
0,Average of Absolute Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07/31/2025,Q2 25,06/25,NaN,NaN,NaN,0.803,NaN,NaN,NaN,NaN,3.42,7.85,NaN
2,05/01/2025,Q1 25,03/25,NaN,NaN,NaN,0.825,NaN,NaN,NaN,NaN,3.79,7.09,NaN
3,02/21/2025,Q4 24,12/24,NaN,NaN,NaN,0.858,NaN,NaN,NaN,NaN,3.75,7.16,NaN
4,11/06/2024,Q3 24,09/24,NaN,NaN,NaN,0.936,NaN,NaN,NaN,NaN,4.04,6.65,NaN
5,07/31/2024,Q2 24,06/24,NaN,1.170,1.17,0.881,32.80%,NaN,NaN,-0.35%,4.44,6.63,31.19
6,05/01/2024,Q1 24,03/24,NaN,0.785,0.78,0.922,-15.40%,NaN,NaN,-4.33%,4.12,8.34,30.50
7,02/21/2024,Q4 23,12/23,NaN,1.150,1.15,1.326,-13.27%,NaN,NaN,-3.88%,4.53,7.92,31.44
8,11/01/2023,Q3 23,09/23,NaN,1.331,1.33,1.099,21.02%,NaN,NaN,0.20%,4.86,8.46,39.61
9,08/02/2023,Q2 23,06/23,NaN,0.851,0.85,0.806,5.46%,NaN,NaN,6.79%,5.50,6.21,39.01
10,05/03/2023,Q1 23,03/23,NaN,1.196,1.19,1.012,17.59%,NaN,NaN,-5.59%,7.04,5.12,34.17
11,02/21/2023,Q4 22,12/22,NaN,1.482,1.48,1.336,10.78%,NaN,NaN,-0.53%,7.77,6.01,38.06
12,11/02/2022,Q3 22,09/22,NaN,1.971,1.97,1.907,3.30%,NaN,NaN,6.89%,7.77,4.40,44.24
13,08/03/2022,Q2 22,06/22,NaN,2.387,2.37,2.325,1.94%,NaN,NaN,-10.89%,6.78,5.15,34.43
14,05/04/2022,Q1 22,03/22,NaN,1.929,1.92,2.109,-8.96%,NaN,NaN,-8.63%,5.09,8.12,45.20
15,02/21/2022,Q4 21,12/21,NaN,1.486,1.29,1.472,-12.36%,NaN,NaN,-3.48%,4.08,6.59,31.04
16,11/03/2021,Q3 21,09/21,NaN,0.980,0.98,0.952,2.94%,NaN,NaN,5.25%,2.58,8.31,27.63
17,08/04/2021,Q2 21,06/21,NaN,0.699,0.70,0.570,22.81%,NaN,NaN,1.75%,1.46,14.82,17.75
18,05/05/2021,Q1 21,03/21,NaN,0.920,0.91,0.713,27.63%,NaN,NaN,2.19%,0.04,447.50,20.97
19,02/24/2021,Q4 20,12/20,NaN,-0.016,-0.05,-0.116,56.90%,NaN,NaN,-3.27%,-0.49,NaN,20.81
20,11/04/2020,Q3 20,09/20,NaN,-0.140,-0.16,-0.356,55.06%,NaN,NaN,-0.22%,0.17,55.71,8.99
21,07/29/2020,Q2 20,06/20,NaN,-0.722,-0.74,-1.006,26.44%,NaN,NaN,17.29%,-0.07,NaN,13.65
22,05/06/2020,Q1 20,03/20,NaN,0.390,-0.13,-0.314,58.60%,NaN,NaN,2.33%,1.06,3.94,11.61
23,02/26/2020,Q4 19,12/19,NaN,0.645,0.08,-0.058,N.M.,NaN,NaN,2.62%,0.78,32.81,24.43
24,10/30/2019,Q3 19,09/19,NaN,-0.382,-0.29,-0.187,-55.08%,NaN,NaN,1.40%,0.51,50.20,21.36
25,07/31/2019,Q2 19,06/19,NaN,0.406,0.11,0.067,64.18%,NaN,NaN,-1.23%,1.50,19.31,24.42
26,05/01/2019,Q1 19,03/19,NaN,0.116,0.10,0.126,-20.63%,NaN,NaN,-6.09%,1.57,22.08,31.71
27,02/27/2019,Q4 18,12/18,NaN,0.369,0.31,0.237,30.80%,NaN,NaN,-1.13%,1.75,15.00,33.56
28,10/31/2018,Q3 18,09/18,NaN,0.610,0.63,0.473,33.19%,NaN,NaN,-3.81%,1.71,27.88,37.83
29,08/01/2018,Q2 18,06/18,NaN,0.474,0.50,0.402,24.38%,NaN,NaN,-1.18%,1.13,41.37,44.94
30,05/02/2018,Q1 18,03/18,NaN,0.298,0.32,0.282,13.48%,NaN,NaN,-6.14%,0.45,85.51,41.06
31,02/22/2018,Q4 17,12/17,NaN,0.328,0.33,0.242,36.36%,NaN,NaN,-6.32%,0.23,183.57,34.85
32,11/02/2017,Q3 17,09/17,NaN,0.032,0.04,-0.021,N.M.,NaN,NaN,-1.30%,-0.15,NaN,41.68
33,08/03/2017,Q2 17,06/17,NaN,-0.207,-0.21,-0.021,-900.00%,NaN,NaN,-8.04%,-0.22,NaN,44.06
34,05/04/2017,Q1 17,03/17,NaN,0.082,0.08,0.136,-41.18%,NaN,NaN,-1.84%,-0.28,NaN,47.90
35,02/23/2017,Q4 16,12/16,NaN,-0.059,-0.06,0.067,N.M.,NaN,NaN,-3.51%,-1.19,NaN,52.98
36,11/03/2016,Q3 16,09/16,NaN,-0.032,-0.03,-0.143,79.02%,NaN,NaN,-6.63%,-1.19,NaN,55.52
37,08/04/2016,Q2 16,06/16,NaN,-0.267,0.05,-0.141,N.M.,NaN,NaN,-3.00%,-1.25,NaN,50.18
38,05/05/2016,Q1 16,03/16,NaN,-0.831,-0.40,-0.886,54.85%,NaN,NaN,8.06%,-0.52,NaN,54.82
39,02/25/2016,Q4 15,12/15,NaN,-0.063,-0.06,-0.489,87.73%,NaN,NaN,-2.10%,-0.13,NaN,37.79
40,11/05/2015,Q3 15,09/15,NaN,-0.087,-0.05,-0.375,86.67%,NaN,NaN,-0.24%,0.81,48.35,49.27
41,08/06/2015,Q2 15,06/15,NaN,0.463,0.22,-0.276,N.M.,NaN,NaN,4.86%,2.18,26.44,46.60
42,05/07/2015,Q1 15,03/15,NaN,-0.446,-0.37,-0.595,37.82%,NaN,NaN,-3.36%,3.21,18.79,65.08
43,02/12/2015,Q4 14,12/14,NaN,0.882,1.07,0.757,41.35%,NaN,NaN,-0.26%,5.43,11.54,64.58
44,11/06/2014,Q3 14,09/14,NaN,1.278,1.38,1.384,-0.29%,NaN,NaN,-0.16%,5.52,17.01,75.44
45,07/31/2014,Q2 14,06/14,NaN,1.496,1.67,1.642,1.71%,NaN,NaN,1.35%,6.84,14.71,102.66
46,05/08/2014,Q1 14,03/14,NaN,1.779,1.78,1.607,10.70%,NaN,NaN,0.31%,NaN,NaN,88.03
47,02/13/2014,Q4 13,12/13,NaN,0.964,1.57,1.805,-13.02%,NaN,NaN,-0.39%,NaN,NaN,80.96
48,11/07/2013,Q3 13,09/13,NaN,2.604,2.32,2.165,7.16%,NaN,NaN,0.16%,NaN,NaN,88.59

In [26]:
df_Earning_Surprise = pd_APA_test

In [27]:
df_Earning_Surprise = df_Earning_Surprise.drop(df_Earning_Surprise.index[0])

In [28]:
# Reformating '09/13' in column "Per End" into "SEP '23"
import datetime

date_str = '09/14'
date_obj = datetime.datetime.strptime(date_str, '%m/%y')
formatted_date = date_obj.strftime('%b %y').upper()
print(formatted_date)

SEP 14

In [29]:
df_Earning_Surprise['Per End'] = df_Earning_Surprise['Per End'].apply(lambda x: datetime.datetime.strptime(str(x), '%m/%y').strftime("%b '%y").upper())
df_Earning_Surprise

,Ann Date,Per,Per End,C,Reported,Comp,Estimate,%Surp,Guidance,%Guid Surp,%Px Chg,T12M,P/E,Price
1,07/31/2025,Q2 25,JUN '25,NaN,NaN,NaN,0.803,NaN,NaN,NaN,NaN,3.42,7.85,NaN
2,05/01/2025,Q1 25,MAR '25,NaN,NaN,NaN,0.825,NaN,NaN,NaN,NaN,3.79,7.09,NaN
3,02/21/2025,Q4 24,DEC '24,NaN,NaN,NaN,0.858,NaN,NaN,NaN,NaN,3.75,7.16,NaN
4,11/06/2024,Q3 24,SEP '24,NaN,NaN,NaN,0.936,NaN,NaN,NaN,NaN,4.04,6.65,NaN
5,07/31/2024,Q2 24,JUN '24,NaN,1.170,1.17,0.881,32.80%,NaN,NaN,-0.35%,4.44,6.63,31.19
6,05/01/2024,Q1 24,MAR '24,NaN,0.785,0.78,0.922,-15.40%,NaN,NaN,-4.33%,4.12,8.34,30.50
7,02/21/2024,Q4 23,DEC '23,NaN,1.150,1.15,1.326,-13.27%,NaN,NaN,-3.88%,4.53,7.92,31.44
8,11/01/2023,Q3 23,SEP '23,NaN,1.331,1.33,1.099,21.02%,NaN,NaN,0.20%,4.86,8.46,39.61
9,08/02/2023,Q2 23,JUN '23,NaN,0.851,0.85,0.806,5.46%,NaN,NaN,6.79%,5.50,6.21,39.01
10,05/03/2023,Q1 23,MAR '23,NaN,1.196,1.19,1.012,17.59%,NaN,NaN,-5.59%,7.04,5.12,34.17
11,02/21/2023,Q4 22,DEC '22,NaN,1.482,1.48,1.336,10.78%,NaN,NaN,-0.53%,7.77,6.01,38.06
12,11/02/2022,Q3 22,SEP '22,NaN,1.971,1.97,1.907,3.30%,NaN,NaN,6.89%,7.77,4.40,44.24
13,08/03/2022,Q2 22,JUN '22,NaN,2.387,2.37,2.325,1.94%,NaN,NaN,-10.89%,6.78,5.15,34.43
14,05/04/2022,Q1 22,MAR '22,NaN,1.929,1.92,2.109,-8.96%,NaN,NaN,-8.63%,5.09,8.12,45.20
15,02/21/2022,Q4 21,DEC '21,NaN,1.486,1.29,1.472,-12.36%,NaN,NaN,-3.48%,4.08,6.59,31.04
16,11/03/2021,Q3 21,SEP '21,NaN,0.980,0.98,0.952,2.94%,NaN,NaN,5.25%,2.58,8.31,27.63
17,08/04/2021,Q2 21,JUN '21,NaN,0.699,0.70,0.570,22.81%,NaN,NaN,1.75%,1.46,14.82,17.75
18,05/05/2021,Q1 21,MAR '21,NaN,0.920,0.91,0.713,27.63%,NaN,NaN,2.19%,0.04,447.50,20.97
19,02/24/2021,Q4 20,DEC '20,NaN,-0.016,-0.05,-0.116,56.90%,NaN,NaN,-3.27%,-0.49,NaN,20.81
20,11/04/2020,Q3 20,SEP '20,NaN,-0.140,-0.16,-0.356,55.06%,NaN,NaN,-0.22%,0.17,55.71,8.99
21,07/29/2020,Q2 20,JUN '20,NaN,-0.722,-0.74,-1.006,26.44%,NaN,NaN,17.29%,-0.07,NaN,13.65
22,05/06/2020,Q1 20,MAR '20,NaN,0.390,-0.13,-0.314,58.60%,NaN,NaN,2.33%,1.06,3.94,11.61
23,02/26/2020,Q4 19,DEC '19,NaN,0.645,0.08,-0.058,N.M.,NaN,NaN,2.62%,0.78,32.81,24.43
24,10/30/2019,Q3 19,SEP '19,NaN,-0.382,-0.29,-0.187,-55.08%,NaN,NaN,1.40%,0.51,50.20,21.36
25,07/31/2019,Q2 19,JUN '19,NaN,0.406,0.11,0.067,64.18%,NaN,NaN,-1.23%,1.50,19.31,24.42
26,05/01/2019,Q1 19,MAR '19,NaN,0.116,0.10,0.126,-20.63%,NaN,NaN,-6.09%,1.57,22.08,31.71
27,02/27/2019,Q4 18,DEC '18,NaN,0.369,0.31,0.237,30.80%,NaN,NaN,-1.13%,1.75,15.00,33.56
28,10/31/2018,Q3 18,SEP '18,NaN,0.610,0.63,0.473,33.19%,NaN,NaN,-3.81%,1.71,27.88,37.83
29,08/01/2018,Q2 18,JUN '18,NaN,0.474,0.50,0.402,24.38%,NaN,NaN,-1.18%,1.13,41.37,44.94
30,05/02/2018,Q1 18,MAR '18,NaN,0.298,0.32,0.282,13.48%,NaN,NaN,-6.14%,0.45,85.51,41.06
31,02/22/2018,Q4 17,DEC '17,NaN,0.328,0.33,0.242,36.36%,NaN,NaN,-6.32%,0.23,183.57,34.85
32,11/02/2017,Q3 17,SEP '17,NaN,0.032,0.04,-0.021,N.M.,NaN,NaN,-1.30%,-0.15,NaN,41.68
33,08/03/2017,Q2 17,JUN '17,NaN,-0.207,-0.21,-0.021,-900.00%,NaN,NaN,-8.04%,-0.22,NaN,44.06
34,05/04/2017,Q1 17,MAR '17,NaN,0.082,0.08,0.136,-41.18%,NaN,NaN,-1.84%,-0.28,NaN,47.90
35,02/23/2017,Q4 16,DEC '16,NaN,-0.059,-0.06,0.067,N.M.,NaN,NaN,-3.51%,-1.19,NaN,52.98
36,11/03/2016,Q3 16,SEP '16,NaN,-0.032,-0.03,-0.143,79.02%,NaN,NaN,-6.63%,-1.19,NaN,55.52
37,08/04/2016,Q2 16,JUN '16,NaN,-0.267,0.05,-0.141,N.M.,NaN,NaN,-3.00%,-1.25,NaN,50.18
38,05/05/2016,Q1 16,MAR '16,NaN,-0.831,-0.40,-0.886,54.85%,NaN,NaN,8.06%,-0.52,NaN,54.82
39,02/25/2016,Q4 15,DEC '15,NaN,-0.063,-0.06,-0.489,87.73%,NaN,NaN,-2.10%,-0.13,NaN,37.79
40,11/05/2015,Q3 15,SEP '15,NaN,-0.087,-0.05,-0.375,86.67%,NaN,NaN,-0.24%,0.81,48.35,49.27
41,08/06/2015,Q2 15,JUN '15,NaN,0.463,0.22,-0.276,N.M.,NaN,NaN,4.86%,2.18,26.44,46.60
42,05/07/2015,Q1 15,MAR '15,NaN,-0.446,-0.37,-0.595,37.82%,NaN,NaN,-3.36%,3.21,18.79,65.08
43,02/12/2015,Q4 14,DEC '14,NaN,0.882,1.07,0.757,41.35%,NaN,NaN,-0.26%,5.43,11.54,64.58
44,11/06/2014,Q3 14,SEP '14,NaN,1.278,1.38,1.384,-0.29%,NaN,NaN,-0.16%,5.52,17.01,75.44
45,07/31/2014,Q2 14,JUN '14,NaN,1.496,1.67,1.642,1.71%,NaN,NaN,1.35%,6.84,14.71,102.66
46,05/08/2014,Q1 14,MAR '14,NaN,1.779,1.78,1.607,10.70%,NaN,NaN,0.31%,NaN,NaN,88.03
47,02/13/2014,Q4 13,DEC '13,NaN,0.964,1.57,1.805,-13.02%,NaN,NaN,-0.39%,NaN,NaN,80.96
48,11/07/2013,Q3 13,SEP '13,NaN,2.604,2.32,2.165,7.16%,NaN,NaN,0.16%,NaN,NaN,88.59

In [30]:
# Drop rows in column "Price" that has value NaN
df_Earning_Surprise = df_Earning_Surprise.dropna(subset=['Price'])

In [31]:
df_Earning_Surprise[['Per End','Reported','Price']]
df_Earning_Surprise['P/E'] = df_Earning_Surprise['Price'] / df_Earning_Surprise['Reported']

<ipython-input-31-14bfee088b71>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Earning_Surprise['P/E'] = df_Earning_Surprise['Price'] / df_Earning_Surprise['Reported']

In [32]:
df_Earning_Surprise = pd.merge(df_Earning_Surprise, df_APA_Balance_Sheet, on='Per End')
df_Earning_Surprise['P/B'] = df_Earning_Surprise['Price'] / df_Earning_Surprise['Book Value per Share']
df_Earning_Surprise

,Ann Date,Per,Per End,C,Reported,Comp,Estimate,%Surp,Guidance,%Guid Surp,...,Treasury Stock,Total Shareholders' Equity,Accumulated Minority Interest,Total Equity,Total Liabilities & Shareholders' Equity,Per Share,Book Value per Share,Tangible Book Value per Share,All figures in millions of U.S. Dollar except per share items.,P/B
0,07/31/2024,Q2 24,JUN '24,NaN,1.170,1.17,0.881,32.80%,NaN,NaN,...,-5934,5423,1072,6495,20195,NaN,14.66366,14.66366,NaN,2.127027
1,05/01/2024,Q1 24,MAR '24,NaN,0.785,0.78,0.922,-15.40%,NaN,NaN,...,-5891,2607,1046,3653,14952,NaN,8.65806,8.658057,NaN,3.522729
2,02/21/2024,Q4 23,DEC '23,NaN,1.150,1.15,1.326,-13.27%,NaN,NaN,...,-5790,2655,1036,3691,15244,NaN,8.74575,8.745754,NaN,3.594889
3,11/01/2023,Q3 23,SEP '23,NaN,1.331,1.33,1.099,21.02%,NaN,NaN,...,-5667,1078,1029,2107,13545,NaN,3.51373,3.513732,NaN,11.272921
4,08/02/2023,Q2 23,JUN '23,NaN,0.851,0.85,0.806,5.46%,NaN,NaN,...,-5647,709,987,1696,13244,NaN,2.30745,2.307455,NaN,16.906108
5,05/03/2023,Q1 23,MAR '23,NaN,1.196,1.19,1.012,17.59%,NaN,NaN,...,-5601,444,989,1433,13213,NaN,1.43876,1.43876,NaN,23.749618
6,02/21/2023,Q4 22,DEC '22,NaN,1.482,1.48,1.336,10.78%,NaN,NaN,...,-5459,423,922,1345,13147,NaN,1.35769,1.357688,NaN,28.032909
7,11/02/2022,Q3 22,SEP '22,NaN,1.971,1.97,1.907,3.30%,NaN,NaN,...,-4920,600,951,1551,13629,NaN,1.8543,1.854302,NaN,23.85806
8,08/03/2022,Q2 22,JUN '22,NaN,2.387,2.37,2.325,1.94%,NaN,NaN,...,-4587,584,921,1505,12924,NaN,1.75168,1.751683,NaN,19.655417
9,05/04/2022,Q1 22,MAR '22,NaN,1.929,1.92,2.109,-8.96%,NaN,NaN,...,-4296,-18,870,852,12476,NaN,-0.05289,-0.052894,NaN,-854.603895
10,02/21/2022,Q4 21,DEC '21,NaN,1.486,1.29,1.472,-12.36%,NaN,NaN,...,-4036,-1595,1590,-5,13303,NaN,-4.59746,-4.597459,NaN,-6.751554
11,11/03/2021,Q3 21,SEP '21,NaN,0.980,0.98,0.952,2.94%,NaN,NaN,...,-3188,-1095,1580,485,13310,NaN,-2.89666,-2.896657,NaN,-9.538572
12,08/04/2021,Q2 21,JUN '21,NaN,0.699,0.70,0.570,22.81%,NaN,NaN,...,-3188,-964,1657,693,13512,NaN,-2.55015,-2.55015,NaN,-6.960375
13,05/05/2021,Q1 21,MAR '21,NaN,0.920,0.91,0.713,27.63%,NaN,NaN,...,-3189,-1258,1602,344,13127,NaN,-3.32828,-3.328282,NaN,-6.300552
14,02/24/2021,Q4 20,DEC '20,NaN,-0.016,-0.05,-0.116,56.90%,NaN,NaN,...,-3189,-1639,1602,-37,12746,NaN,-4.34192,-4.341922,NaN,-4.792811
15,11/04/2020,Q3 20,SEP '20,NaN,-0.140,-0.16,-0.356,55.06%,NaN,NaN,...,-3189,-1641,1604,-37,12875,NaN,-4.34748,-4.347478,NaN,-2.067865
16,07/29/2020,Q2 20,JUN '20,NaN,-0.722,-0.74,-1.006,26.44%,NaN,NaN,...,-3189,-1635,1591,-44,12999,NaN,-4.3316,-4.331604,NaN,-3.151261
17,05/06/2020,Q1 20,MAR '20,NaN,0.390,-0.13,-0.314,58.60%,NaN,NaN,...,-3189,-1246,1591,345,13391,NaN,-3.30133,-3.301329,NaN,-3.516764
18,02/26/2020,Q4 19,DEC '19,NaN,0.645,0.08,-0.058,N.M.,NaN,NaN,...,-3190,3255,1765,5020,18107,NaN,8.65547,8.655472,NaN,2.822493
19,10/30/2019,Q3 19,SEP '19,NaN,-0.382,-0.29,-0.187,-55.08%,NaN,NaN,...,-3190,6301,2106,8407,21405,NaN,16.75699,16.756992,NaN,1.274692
20,07/31/2019,Q2 19,JUN '19,NaN,0.406,0.11,0.067,64.18%,NaN,NaN,...,-3190,6551,2124,8675,21806,NaN,17.42491,17.424906,NaN,1.401442
21,05/01/2019,Q1 19,MAR '19,NaN,0.116,0.10,0.126,-20.63%,NaN,NaN,...,-3190,6989,1620,8609,21751,NaN,18.5922,18.592203,NaN,1.705554
22,02/27/2019,Q4 18,DEC '18,NaN,0.369,0.31,0.237,30.80%,NaN,NaN,...,-3192,7130,1682,8812,21582,NaN,19.02875,19.028748,NaN,1.763647
23,10/31/2018,Q3 18,SEP '18,NaN,0.610,0.63,0.473,33.19%,NaN,NaN,...,-2930,7612,1334,8946,21870,NaN,19.94925,19.949247,NaN,1.896312
24,08/01/2018,Q2 18,JUN '18,NaN,0.474,0.50,0.402,24.38%,NaN,NaN,...,-2887,7640,1355,8995,21910,NaN,19.97599,19.97599,NaN,2.249701
25,05/02/2018,Q1 18,MAR '18,NaN,0.298,0.32,0.282,13.48%,NaN,NaN,...,-2887,7502,1367,8869,21791,NaN,19.63121,19.631207,NaN,2.091567
26,02/22/2018,Q4 17,DEC '17,NaN,0.328,0.33,0.242,36.36%,NaN,NaN,...,-2887,7416,1375,8791,21922,NaN,19.46687,19.466873,NaN,1.790221
27,11/02/2017,Q3 17,SEP '17,NaN,0.032,0.04,-0.021,N.M.,NaN,NaN,...,-2887,7011,1366,8377,21835,NaN,18.40457,18.404573,NaN,2.264655
28,08/03/2017,Q2 17,JUN '17,NaN,-0.207,-0.21,-0.021,-900.00%,NaN,NaN,...,-2887,6899,1366,8265,22602,NaN,18.11103,18.111033,NaN,2.432772
29,05/04/2017,Q1 17,MAR '17,NaN,0.082,0.08,0.136,-41.18%,NaN,NaN,...,-2887,6385,1438,7823,22610,NaN,16.78344,16.783439,NaN,2.854004
30,02/23/2017,Q4 16,DEC '16,NaN,-0.059,-0.06,0.067,N.M.,NaN,NaN,...,-2887,6238,1441,7679,22519,NaN,16.50115,16.271016,NaN,3.210685
31,11/03/2016,Q3 16,SEP '16,NaN,-0.032,-0.03,-0.143,79.02%,NaN,NaN,...,-2888,6469,1480,7949,23149,NaN,17.04929,17.049288,NaN,3.256441
32,08/04/2016,Q2 16,JUN '16,NaN,-0.267,0.05,-0.141,N.M.,NaN,NaN,...,-2888,7142,1554,8696,24346,NaN,18.82654,18.826545,NaN,2.665386
33,05/05/2016,Q1 16,MAR '16,NaN,-0.831,-0.40,-0.886,54.85%,NaN,NaN,...,-2888,2018,1536,3554,17679,NaN,5.33112,5.331116,NaN,10.283017
34,02/25/2016,Q4 15,DEC '15,NaN,-0.063,-0.06,-0.489,87.73%,NaN,NaN,...,-2889,7888,1602,9490,25500,NaN,20.86584,20.865838,NaN,1.811094
35,11/05/2015,Q3 15,SEP '15,NaN,-0.087,-0.05,-0.375,86.67%,NaN,NaN,...,-2889,9809,2163,11972,27812,NaN,25.94842,25.948421,NaN,1.898767
36,08/06/2015,Q2 15,JUN '15,NaN,0.463,0.22,-0.276,N.M.,NaN,NaN,...,-2889,15544,2211,17755,35312,NaN,41.12296,41.122962,NaN,1.133187
37,05/07/2015,Q1 15,MAR '15,NaN,-0.446,-0.37,-0.595,37.82%,NaN,NaN,...,-2889,21211,2194,23405,48650,NaN,56.27487,56.044051,NaN,1.156466
38,02/12/2015,Q4 14,DEC '14,NaN,0.882,1.07,0.757,41.35%,NaN,NaN,...,-2890,25937,2200,28137,55952,NaN,68.88888,68.888879,NaN,0.937452
39,11/06/2014,Q3 14,SEP '14,NaN,1.278,1.38,1.384,-0.29%,NaN,NaN,...,-2857,30818,2168,32986,60990,NaN,81.7848,78.151749,NaN,0.922421
40,07/31/2014,Q2 14,JUN '14,NaN,1.496,1.67,1.642,1.71%,NaN,NaN,...,-2290,32755,2137,34892,61171,NaN,85.67186,82.091188,NaN,1.198293
41,05/08/2014,Q1 14,MAR '14,NaN,1.779,1.78,1.607,10.70%,NaN,NaN,...,-1511,33082,2095,35177,61121,NaN,84.81107,81.301419,NaN,1.037954
42,02/13/2014,Q4 13,DEC '13,NaN,0.964,1.57,1.805,-13.02%,NaN,NaN,...,-1027,33396,1997,35393,61637,NaN,84.38172,80.922669,NaN,0.95945
43,11/07/2013,Q3 13,SEP '13,NaN,2.604,2.32,2.165,7.16%,NaN,NaN,...,-280,32981,0,32981,60239,NaN,81.65231,78.263028,NaN,1.084966

In [33]:
# Projected earning is (Estimate[i] /Estimate [i+1])-1
projected_earnings = (df_Earning_Surprise['Estimate'].shift(1) / df_Earning_Surprise['Estimate']) - 1
projected_earnings
df_Earning_Surprise['Projected Earning'] = projected_earnings
df_Earning_Surprise

,Ann Date,Per,Per End,C,Reported,Comp,Estimate,%Surp,Guidance,%Guid Surp,...,Total Shareholders' Equity,Accumulated Minority Interest,Total Equity,Total Liabilities & Shareholders' Equity,Per Share,Book Value per Share,Tangible Book Value per Share,All figures in millions of U.S. Dollar except per share items.,P/B,Projected Earning
0,07/31/2024,Q2 24,JUN '24,NaN,1.170,1.17,0.881,32.80%,NaN,NaN,...,5423,1072,6495,20195,NaN,14.66366,14.66366,NaN,2.127027,NaN
1,05/01/2024,Q1 24,MAR '24,NaN,0.785,0.78,0.922,-15.40%,NaN,NaN,...,2607,1046,3653,14952,NaN,8.65806,8.658057,NaN,3.522729,-0.044469
2,02/21/2024,Q4 23,DEC '23,NaN,1.150,1.15,1.326,-13.27%,NaN,NaN,...,2655,1036,3691,15244,NaN,8.74575,8.745754,NaN,3.594889,-0.304676
3,11/01/2023,Q3 23,SEP '23,NaN,1.331,1.33,1.099,21.02%,NaN,NaN,...,1078,1029,2107,13545,NaN,3.51373,3.513732,NaN,11.272921,0.206551
4,08/02/2023,Q2 23,JUN '23,NaN,0.851,0.85,0.806,5.46%,NaN,NaN,...,709,987,1696,13244,NaN,2.30745,2.307455,NaN,16.906108,0.363524
5,05/03/2023,Q1 23,MAR '23,NaN,1.196,1.19,1.012,17.59%,NaN,NaN,...,444,989,1433,13213,NaN,1.43876,1.43876,NaN,23.749618,-0.203557
6,02/21/2023,Q4 22,DEC '22,NaN,1.482,1.48,1.336,10.78%,NaN,NaN,...,423,922,1345,13147,NaN,1.35769,1.357688,NaN,28.032909,-0.242515
7,11/02/2022,Q3 22,SEP '22,NaN,1.971,1.97,1.907,3.30%,NaN,NaN,...,600,951,1551,13629,NaN,1.8543,1.854302,NaN,23.85806,-0.299423
8,08/03/2022,Q2 22,JUN '22,NaN,2.387,2.37,2.325,1.94%,NaN,NaN,...,584,921,1505,12924,NaN,1.75168,1.751683,NaN,19.655417,-0.179785
9,05/04/2022,Q1 22,MAR '22,NaN,1.929,1.92,2.109,-8.96%,NaN,NaN,...,-18,870,852,12476,NaN,-0.05289,-0.052894,NaN,-854.603895,0.102418
10,02/21/2022,Q4 21,DEC '21,NaN,1.486,1.29,1.472,-12.36%,NaN,NaN,...,-1595,1590,-5,13303,NaN,-4.59746,-4.597459,NaN,-6.751554,0.432745
11,11/03/2021,Q3 21,SEP '21,NaN,0.980,0.98,0.952,2.94%,NaN,NaN,...,-1095,1580,485,13310,NaN,-2.89666,-2.896657,NaN,-9.538572,0.546218
12,08/04/2021,Q2 21,JUN '21,NaN,0.699,0.70,0.570,22.81%,NaN,NaN,...,-964,1657,693,13512,NaN,-2.55015,-2.55015,NaN,-6.960375,0.670175
13,05/05/2021,Q1 21,MAR '21,NaN,0.920,0.91,0.713,27.63%,NaN,NaN,...,-1258,1602,344,13127,NaN,-3.32828,-3.328282,NaN,-6.300552,-0.200561
14,02/24/2021,Q4 20,DEC '20,NaN,-0.016,-0.05,-0.116,56.90%,NaN,NaN,...,-1639,1602,-37,12746,NaN,-4.34192,-4.341922,NaN,-4.792811,-7.146552
15,11/04/2020,Q3 20,SEP '20,NaN,-0.140,-0.16,-0.356,55.06%,NaN,NaN,...,-1641,1604,-37,12875,NaN,-4.34748,-4.347478,NaN,-2.067865,-0.674157
16,07/29/2020,Q2 20,JUN '20,NaN,-0.722,-0.74,-1.006,26.44%,NaN,NaN,...,-1635,1591,-44,12999,NaN,-4.3316,-4.331604,NaN,-3.151261,-0.646123
17,05/06/2020,Q1 20,MAR '20,NaN,0.390,-0.13,-0.314,58.60%,NaN,NaN,...,-1246,1591,345,13391,NaN,-3.30133,-3.301329,NaN,-3.516764,2.203822
18,02/26/2020,Q4 19,DEC '19,NaN,0.645,0.08,-0.058,N.M.,NaN,NaN,...,3255,1765,5020,18107,NaN,8.65547,8.655472,NaN,2.822493,4.413793
19,10/30/2019,Q3 19,SEP '19,NaN,-0.382,-0.29,-0.187,-55.08%,NaN,NaN,...,6301,2106,8407,21405,NaN,16.75699,16.756992,NaN,1.274692,-0.689840
20,07/31/2019,Q2 19,JUN '19,NaN,0.406,0.11,0.067,64.18%,NaN,NaN,...,6551,2124,8675,21806,NaN,17.42491,17.424906,NaN,1.401442,-3.791045
21,05/01/2019,Q1 19,MAR '19,NaN,0.116,0.10,0.126,-20.63%,NaN,NaN,...,6989,1620,8609,21751,NaN,18.5922,18.592203,NaN,1.705554,-0.468254
22,02/27/2019,Q4 18,DEC '18,NaN,0.369,0.31,0.237,30.80%,NaN,NaN,...,7130,1682,8812,21582,NaN,19.02875,19.028748,NaN,1.763647,-0.468354
23,10/31/2018,Q3 18,SEP '18,NaN,0.610,0.63,0.473,33.19%,NaN,NaN,...,7612,1334,8946,21870,NaN,19.94925,19.949247,NaN,1.896312,-0.498943
24,08/01/2018,Q2 18,JUN '18,NaN,0.474,0.50,0.402,24.38%,NaN,NaN,...,7640,1355,8995,21910,NaN,19.97599,19.97599,NaN,2.249701,0.176617
25,05/02/2018,Q1 18,MAR '18,NaN,0.298,0.32,0.282,13.48%,NaN,NaN,...,7502,1367,8869,21791,NaN,19.63121,19.631207,NaN,2.091567,0.425532
26,02/22/2018,Q4 17,DEC '17,NaN,0.328,0.33,0.242,36.36%,NaN,NaN,...,7416,1375,8791,21922,NaN,19.46687,19.466873,NaN,1.790221,0.165289
27,11/02/2017,Q3 17,SEP '17,NaN,0.032,0.04,-0.021,N.M.,NaN,NaN,...,7011,1366,8377,21835,NaN,18.40457,18.404573,NaN,2.264655,-12.523810
28,08/03/2017,Q2 17,JUN '17,NaN,-0.207,-0.21,-0.021,-900.00%,NaN,NaN,...,6899,1366,8265,22602,NaN,18.11103,18.111033,NaN,2.432772,0.000000
29,05/04/2017,Q1 17,MAR '17,NaN,0.082,0.08,0.136,-41.18%,NaN,NaN,...,6385,1438,7823,22610,NaN,16.78344,16.783439,NaN,2.854004,-1.154412
30,02/23/2017,Q4 16,DEC '16,NaN,-0.059,-0.06,0.067,N.M.,NaN,NaN,...,6238,1441,7679,22519,NaN,16.50115,16.271016,NaN,3.210685,1.029851
31,11/03/2016,Q3 16,SEP '16,NaN,-0.032,-0.03,-0.143,79.02%,NaN,NaN,...,6469,1480,7949,23149,NaN,17.04929,17.049288,NaN,3.256441,-1.468531
32,08/04/2016,Q2 16,JUN '16,NaN,-0.267,0.05,-0.141,N.M.,NaN,NaN,...,7142,1554,8696,24346,NaN,18.82654,18.826545,NaN,2.665386,0.014184
33,05/05/2016,Q1 16,MAR '16,NaN,-0.831,-0.40,-0.886,54.85%,NaN,NaN,...,2018,1536,3554,17679,NaN,5.33112,5.331116,NaN,10.283017,-0.840858
34,02/25/2016,Q4 15,DEC '15,NaN,-0.063,-0.06,-0.489,87.73%,NaN,NaN,...,7888,1602,9490,25500,NaN,20.86584,20.865838,NaN,1.811094,0.811861
35,11/05/2015,Q3 15,SEP '15,NaN,-0.087,-0.05,-0.375,86.67%,NaN,NaN,...,9809,2163,11972,27812,NaN,25.94842,25.948421,NaN,1.898767,0.304000
36,08/06/2015,Q2 15,JUN '15,NaN,0.463,0.22,-0.276,N.M.,NaN,NaN,...,15544,2211,17755,35312,NaN,41.12296,41.122962,NaN,1.133187,0.358696
37,05/07/2015,Q1 15,MAR '15,NaN,-0.446,-0.37,-0.595,37.82%,NaN,NaN,...,21211,2194,23405,48650,NaN,56.27487,56.044051,NaN,1.156466,-0.536134
38,02/12/2015,Q4 14,DEC '14,NaN,0.882,1.07,0.757,41.35%,NaN,NaN,...,25937,2200,28137,55952,NaN,68.88888,68.888879,NaN,0.937452,-1.785997
39,11/06/2014,Q3 14,SEP '14,NaN,1.278,1.38,1.384,-0.29%,NaN,NaN,...,30818,2168,32986,60990,NaN,81.7848,78.151749,NaN,0.922421,-0.453035
40,07/31/2014,Q2 14,JUN '14,NaN,1.496,1.67,1.642,1.71%,NaN,NaN,...,32755,2137,34892,61171,NaN,85.67186,82.091188,NaN,1.198293,-0.157125
41,05/08/2014,Q1 14,MAR '14,NaN,1.779,1.78,1.607,10.70%,NaN,NaN,...,33082,2095,35177,61121,NaN,84.81107,81.301419,NaN,1.037954,0.021780
42,02/13/2014,Q4 13,DEC '13,NaN,0.964,1.57,1.805,-13.02%,NaN,NaN,...,33396,1997,35393,61637,NaN,84.38172,80.922669,NaN,0.95945,-0.109695
43,11/07/2013,Q3 13,SEP '13,NaN,2.604,2.32,2.165,7.16%,NaN,NaN,...,32981,0,32981,60239,NaN,81.65231,78.263028,NaN,1.084966,-0.166282

In [34]:
df_Earning_Surprise['PEG'] = df_Earning_Surprise['P/E'] / df_Earning_Surprise['Projected Earning']

In [35]:
import math
for i in range(len(df_Earning_Surprise)):
  if (df_Earning_Surprise['PEG'][i] == math.inf or df_Earning_Surprise['PEG'][i] == -math.inf):
    df_Earning_Surprise['PEG'][i] = 0

<ipython-input-35-23cffc1722cf>:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df_Earning_Surprise['PEG'][i] = 0
<ipython-input-35-23cffc1722cf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_Earning_Surprise['PEG'][i] = 0

In [36]:
df_Earning_Surprise[['Per End','Projected Earning','PEG']]

    Per End  Projected Earning           PEG
0   JUN '24                NaN           NaN
1   MAR '24          -0.044469   -873.729998
2   DEC '23          -0.304676    -89.731898
3   SEP '23           0.206551    144.078315
4   JUN '23           0.363524    126.099630
5   MAR '23          -0.203557   -140.354742
6   DEC '22          -0.242515   -105.896603
7   SEP '22          -0.299423    -74.962330
8   JUN '22          -0.179785    -80.228982
9   MAR '22           0.102418    228.785784
10  DEC '21           0.432745     48.269331
11  SEP '21           0.546218     51.616484
12  JUN '21           0.670175     37.890704
13  MAR '21          -0.200561   -113.648601
14  DEC '20          -7.146552    181.993366
15  SEP '20          -0.674157     95.251190
16  JUN '20          -0.646123     29.260388
17  MAR '20           2.203822     13.508004
18  DEC '19           4.413793      8.581274
19  SEP '19          -0.689840     81.056861
20  JUN '19          -3.791045    -15.865754
21  MAR '19          -0.468254   -583.790181
22  DEC '18          -0.468354   -194.187358
23  SEP '18          -0.498943   -124.295568
24  JUN '18           0.176617    536.812266
25  MAR '18           0.425532    323.795302
26  DEC '17           0.165289    642.812500
27  SEP '17         -12.523810   -104.001901
28  JUN '17           0.000000      0.000000
29  MAR '17          -1.154412   -506.012117
30  DEC '16           1.029851   -871.938099
31  SEP '16          -1.468531   1181.452381
32  JUN '16           0.014184 -13249.775281
33  MAR '16          -0.840858     78.454066
34  DEC '15           0.811861   -738.847307
35  SEP '15           0.304000  -1862.900786
36  JUN '15           0.358696    280.594280
37  MAR '15          -0.536134    272.169195
38  DEC '14          -1.785997    -40.996676
39  SEP '14          -0.453035   -130.298488
40  JUN '14          -0.157125   -436.740144
41  MAR '14           0.021780   2271.969967
42  DEC '13          -0.109695   -765.606270
43  SEP '13          -0.166282   -204.596934

In [37]:
df_APA_Balance_Sheet.columns

Index(['Per End', 'Assets', 'Cash & Short-Term Investments', 'Cash Only',
       'Total Short Term Investments', 'Short-Term Receivables',
       'Accounts Receivables, Net', 'Accounts Receivables, Gross',
       'Bad Debt/Doubtful Accounts', 'Inventories',
       'Progress Payments & Other', 'Other Current Assets', 'Prepaid Expenses',
       'Miscellaneous Current Assets', 'Total Current Assets',
       'Net Property, Plant & Equipment',
       'Property, Plant & Equipment - Gross', 'Machinery & Equipment',
       'Other Property, Plant & Equipment', 'Accumulated Depreciation',
       'Total Long-Term Investments ', 'LT Investment - Affiliate Companies',
       'Other Long-Term Investments', 'Long-Term Note Receivable',
       'Intangible Assets', 'Goodwill', 'Other Intangible Assets',
       'Deferred Tax Assets', 'Other Assets', 'Deferred Charges',
       'Tangible Other Assets', 'Total Assets',
       'Liabilities & Shareholders' Equity', 'Current',
       'ST Debt & Curr. Portion LT Debt', 'Accounts Payable',
       'Income Tax Payable', 'Other Current Liabilities', 'Accrued Payroll',
       'Miscellaneous Current Liabilities', 'Total Current Liabilities',
       'Long-Term', 'Long-Term Debt', 'Long-Term Debt excl Lease Obligations',
       'Capital and Operating Lease Obligations',
       'Provision for Risks & Charges', 'Deferred Tax Liabilities',
       'Other Liabilities', 'Other Liabilities (excl. Deferred Income)',
       'Total Liabilities', 'Equity', 'Preferred Stock (Carrying Value)',
       'Redeemable Preferred Stock', 'Non-Redeemable Preferred Stock',
       'Common Equity', 'Common Stock Par/Carry Value',
       'Additional Paid-In Capital/Capital Surplus', 'Retained Earnings',
       'Cumulative Translation Adjustment/Unrealized For. Exch. Gain',
       'Unrealized Gain/Loss Marketable Securities',
       'Other Appropriated Reserves', 'Treasury Stock',
       'Total Shareholders' Equity', 'Accumulated Minority Interest',
       'Total Equity', 'Total Liabilities & Shareholders' Equity', 'Per Share',
       'Book Value per Share', 'Tangible Book Value per Share',
       'All figures in millions of U.S. Dollar except per share items.'],
      dtype='object', name=nan)

In [38]:
df_Earning_Surprise['D/E'] = (df_Earning_Surprise["ST Debt & Curr. Portion LT Debt"] + df_Earning_Surprise["Long-Term Debt"]) / df_Earning_Surprise['Total Equity']

In [39]:
df_APA_Income_Statement_core = df_APA_Income_Statement[['Per End','Revenue', 'Operating Expenses', 'Net Income']]
df_APA_Balance_Sheet_core = df_APA_Balance_Sheet[['Per End','Total Assets', 'Total Liabilities', "Total Shareholders' Equity"]]
df_APA_Cash_Flow_core = df_APA_Cash_Flow[['Per End','Net Operating Cash Flow', 'Net Investing Cash Flow']]
df_Earning_Surprise_core = df_Earning_Surprise[['Per End', 'P/E', 'P/B', 'D/E', 'PEG', 'Reported']]

In [40]:
df_Earning_Surprise_core = pd.merge(df_Earning_Surprise_core, df_APA_Balance_Sheet_core, on='Per End')
df_Earning_Surprise_core = pd.merge(df_Earning_Surprise_core, df_APA_Income_Statement_core, on='Per End')
df_Earning_Surprise_core = pd.merge(df_Earning_Surprise_core, df_APA_Cash_Flow_core, on='Per End')

In [41]:
df_Earning_Surprise_core[['Per End', 'Revenue', 'Operating Expenses', 'Net Income', 'Total Assets', 'Total Liabilities', "Total Shareholders' Equity", 'Net Operating Cash Flow', 'Net Investing Cash Flow', 'P/E', 'P/B', 'D/E', 'PEG']]

,Per End,Revenue,Operating Expenses,Net Income,Total Assets,Total Liabilities,Total Shareholders' Equity,Net Operating Cash Flow,Net Investing Cash Flow,P/E,P/B,D/E,PEG
0,JUN '24,2543,1656,541,20195,13700,5423,877,-64,26.658120,2.127027,1.054042,NaN
1,MAR '24,1951,1389,132,14952,11299,2607,368,-88,38.853503,3.522729,1.450589,-873.729998
2,DEC '23,2167,1287,1773,15244,11553,2655,1030,-356,27.339130,3.594889,1.481712,-89.731898
3,SEP '23,2308,1468,459,13545,11438,1078,764,-667,29.759579,11.272921,2.701471,144.078315
4,JUN '23,1796,1153,381,13244,11548,709,1000,-583,45.840188,16.906108,3.347877,126.099630
5,MAR '23,2008,1157,242,13213,11780,444,335,-532,28.570234,23.749618,4.145848,-140.354742
6,DEC '22,2472,1628,443,13147,11802,423,1413,-617,25.681511,28.032909,4.277323,-105.896603
7,SEP '22,2887,1608,422,13629,12078,600,1104,-910,22.445459,23.85806,3.638298,-74.962330
8,JUN '22,3047,1522,926,12924,11419,584,1535,-450,14.423963,19.655417,3.592027,-80.228982
9,MAR '22,2669,1450,1883,12476,11624,-18,891,466,23.431830,-854.603895,7.04108,228.785784
10,DEC '21,2299,1535,382,13303,13308,-1595,1085,-291,20.888291,-6.751554,-1552.2,48.269331
11,SEP '21,2059,1318,-113,13310,12825,-1095,771,-149,28.193878,-9.538572,15.453608,51.616484
12,JUN '21,1756,1211,316,13512,12819,-964,969,-126,25.393419,-6.960375,12.607504,37.890704
13,MAR '21,1871,1401,388,13127,12783,-1258,671,-267,22.793478,-6.300552,25.642442,-113.648601
14,DEC '20,1219,1144,10,12746,12783,-1639,498,-190,-1300.625000,-4.792811,-244.135135,181.993366
15,SEP '20,1120,984,-4,12875,12912,-1641,304,-359,-64.214286,-2.067865,-244.432432,95.251190
16,JUN '20,752,1087,-386,12999,13043,-1635,84,-408,-18.905817,-3.151261,-203.181818,29.260388
17,MAR '20,1344,1278,-4480,13391,13046,-1246,502,-509,29.769231,-3.516764,26.127536,13.508004
18,DEC '19,1625,1918,-2976,18107,13087,3255,778,-52,37.875969,2.822493,1.779283,8.581274
19,SEP '19,1438,1406,-170,21405,12998,6301,635,-1562,-55.916230,1.274692,1.036398,81.056861
20,JUN '19,1616,1407,-360,21806,13131,6551,856,-283,60.147783,1.401442,1.000346,-15.865754
21,MAR '19,1654,1441,-47,21751,13142,6989,598,-938,273.362069,1.705554,1.024509,-583.790181
22,DEC '18,1703,1555,-381,21582,12770,7130,1043,-1104,90.948509,1.763647,0.931003,-194.187358
23,SEP '18,1976,1408,81,21870,12924,7612,1006,-926,62.016393,1.896312,0.916946,-124.295568
24,JUN '18,1936,1383,195,21910,12915,7640,1113,-1024,94.810127,2.249701,0.926848,536.812266
25,MAR '18,1733,1319,145,21791,12922,7502,615,-890,137.785235,2.091567,0.939903,323.795302
26,DEC '17,1640,1263,456,21922,13131,7416,668,-793,106.250000,1.790221,0.965078,642.812500
27,SEP '17,1389,1413,63,21835,13458,7011,554,-94,1302.500000,2.264655,1.012654,-104.001901
28,JUN '17,1346,1349,572,22602,14337,6899,751,-436,-212.850242,2.432772,1.025892,0.000000
29,MAR '17,1512,1303,213,22610,14787,6385,455,-93,584.146341,2.854004,1.0836,-506.012117
30,DEC '16,1455,1433,-182,22519,14840,6238,796,-298,-897.966102,3.210685,1.112645,-871.938099
31,SEP '16,1439,1486,-574,23149,15200,6469,651,-396,-1735.000000,3.256441,1.097245,1181.452381
32,JUN '16,1386,1415,-244,24346,15650,7142,744,-411,-187.940075,2.665386,1.00276,-13249.775281
33,MAR '16,1087,1427,-372,17679,14125,2018,239,-555,-65.968712,10.283017,2.453292,78.454066
34,DEC '15,1254,3605,-4642,25500,16010,7888,174,-263,-599.841270,1.811094,0.918546,-738.847307
35,SEP '15,1606,1818,-4126,27812,15840,9809,711,-927,-566.321839,1.898767,0.733127,-1862.900786
36,JUN '15,1991,1793,-980,35312,17557,15544,1132,4391,100.647948,1.133187,0.544973,280.594280
37,MAR '15,1806,1983,-4651,48650,25245,21211,650,-2118,-145.919283,1.156466,0.524375,272.169195
38,DEC '14,2648,2180,-3742,55952,27815,25937,1933,-1937,73.219955,0.937452,0.399652,-40.996676
39,SEP '14,3468,2262,-1330,60990,28004,30818,1896,-3154,59.029734,0.922421,0.33111,-130.298488
40,JUN '14,3708,2166,505,61171,26279,32755,2339,-1764,68.622995,1.198293,0.277284,-436.740144
41,MAR '14,3647,2155,753,61121,25944,33082,2293,-1949,49.482856,1.037954,0.274981,2271.969967
42,DEC '13,3598,2202,174,61637,26244,33396,2477,166,83.983402,0.95945,0.274772,-765.606270
43,SEP '13,4286,2526,435,60239,27258,32981,1978,1030,34.020737,1.084966,0.331251,-204.596934

#### **2.3. Market and Industry Data**
- Historical **stock prices** for price ratios (P/E, P/B).
- Commodity prices (Crude Oil and Natural Gas) for industry trends.
- Volume and volatility data for market dynamics.

In [42]:
CL_Brent_price = pd.read_excel('/content/dataset/FNCE-449-term-data-main/FNCE 449 original/CL Brent price.xlsx')
CL_Brent_price.rename(columns = {'Security':'Date','CO1 Comdty':'CL Brent Price','Unnamed: 2':'Quantity CL Brent'}, inplace = True)
CL_Brent_price = CL_Brent_price[6:]
CL_Brent_price['Date'] = pd.to_datetime(CL_Brent_price['Date'])
CL_Brent_price['Date'] = CL_Brent_price['Date'].dt.strftime("%b '%y").str.upper()
CL_Brent_price = CL_Brent_price[["Date","CL Brent Price"]]
CL_Brent_price

       Date CL Brent Price
6   JUN '24          86.41
7   MAR '24          87.48
8   DEC '23          77.04
9   SEP '23          95.31
10  JUN '23           74.9
..      ...            ...
80  DEC '05          58.98
81  SEP '05          63.48
82  JUN '05          55.58
83  MAR '05          54.29
84  DEC '04          40.46

[79 rows x 2 columns]

In [43]:
CL_price = pd.read_excel('/content/dataset/FNCE-449-term-data-main/FNCE 449 original/CL price.xlsx')
CL_price.rename(columns = {'Security':'Date','CL1 COMB Comdty':'CL WTI Price','Unnamed: 2':'Quantity CL'}, inplace = True)
CL_price = CL_price[6:]
CL_price['Date'] = pd.to_datetime(CL_price['Date'])
CL_price['Date'] = CL_price['Date'].dt.strftime("%b '%y").str.upper()
CL_price = CL_price[["Date","CL WTI Price"]]
CL_price

       Date CL WTI Price
6   JUN '24        81.54
7   MAR '24        83.17
8   DEC '23        71.65
9   SEP '23        90.79
10  JUN '23        70.64
..      ...          ...
80  DEC '05        61.04
81  SEP '05        66.24
82  JUN '05         56.5
83  MAR '05         55.4
84  DEC '04        43.45

[79 rows x 2 columns]

In [44]:
NG_price = pd.read_excel('/content/dataset/FNCE-449-term-data-main/FNCE 449 original/NG price.xlsx')
NG_price.rename(columns = {'Security':'Date','NG1 COMB Comdty':'NG Price','Unnamed: 2':'Quantity NG'}, inplace = True)
NG_price = NG_price[6:]
NG_price['Date'] = pd.to_datetime(NG_price['Date'])
NG_price['Date'] = NG_price['Date'].dt.strftime("%b '%y").str.upper()
NG_price = NG_price[["Date", "NG Price"]]
NG_price

       Date NG Price
6   JUN '24    2.601
7   MAR '24    1.763
8   DEC '23    2.514
9   SEP '23    2.929
10  JUN '23    2.798
..      ...      ...
80  DEC '05   11.225
81  SEP '05   13.921
82  JUN '05    6.981
83  MAR '05    7.653
84  DEC '04    6.149

[79 rows x 2 columns]

In [45]:
Fed_Fund_Rate = pd.read_excel('/content/dataset/FNCE-449-term-data-main/FNCE 449 original/Federal Fund Rate.xlsx')
Fed_Fund_Rate.rename(columns = {'Security':'Date','FEDL01 Index':'Federal Fund Rate','Unnamed: 2':'Change'}, inplace = True)
Fed_Fund_Rate = Fed_Fund_Rate[5:]
Fed_Fund_Rate['Date'] = pd.to_datetime(Fed_Fund_Rate['Date'])
Fed_Fund_Rate['Date'] = Fed_Fund_Rate['Date'].dt.strftime("%b '%y").str.upper()
Fed_Fund_Rate = Fed_Fund_Rate[["Date", "Federal Fund Rate"]]
Fed_Fund_Rate

       Date Federal Fund Rate
5   SEP '24              5.13
6   JUN '24              5.33
7   MAR '24              5.33
8   DEC '23              5.33
9   SEP '23              5.33
..      ...               ...
79  MAR '06              4.59
80  DEC '05              4.16
81  SEP '05              3.62
82  JUN '05              3.04
83  MAR '05              2.63

[79 rows x 2 columns]

In [46]:
GDP_QoQ = pd.read_excel('/content/dataset/FNCE-449-term-data-main/FNCE 449 original/GDP QoQ.xlsx')
GDP_QoQ.rename(columns = {'Security':'Date','GDP CQOQ Index':'GDP growth','Unnamed: 2':'ACTUAL_RELEASE_gdp_growth'}, inplace = True)
GDP_QoQ = GDP_QoQ[5:]
GDP_QoQ['Date'] = pd.to_datetime(GDP_QoQ['Date'])
GDP_QoQ['Date'] = GDP_QoQ['Date'].dt.strftime("%b '%y").str.upper()
GDP_QoQ = GDP_QoQ[["Date", "ACTUAL_RELEASE_gdp_growth"]]
GDP_QoQ

       Date ACTUAL_RELEASE_gdp_growth
5   MAR '24                       1.4
6   DEC '23                       3.4
7   SEP '23                       4.9
8   JUN '23                       2.1
9   MAR '23                         2
..      ...                       ...
77  MAR '06                       5.6
78  DEC '05                       1.7
79  SEP '05                       4.1
80  JUN '05                       3.3
81  MAR '05                       3.8

[77 rows x 2 columns]

In [47]:
Inflation_CPI = pd.read_excel('/content/dataset/FNCE-449-term-data-main/FNCE 449 original/Inflation CPI.xlsx')
Inflation_CPI.rename(columns = {'Security':'Date','CPI CHNG Index':'CPI_growth','Unnamed: 2':'Change'}, inplace = True)
Inflation_CPI = Inflation_CPI[5:]
Inflation_CPI['Date'] = pd.to_datetime(Inflation_CPI['Date'])
Inflation_CPI['Date'] = Inflation_CPI['Date'].dt.strftime("%b '%y").str.upper()
Inflation_CPI = Inflation_CPI[["Date", "CPI_growth"]]
Inflation_CPI

       Date CPI_growth
5   SEP '24        0.2
6   JUN '24       -0.1
7   MAR '24        0.4
8   DEC '23        0.2
9   SEP '23        0.4
..      ...        ...
79  MAR '06        0.2
80  DEC '05          0
81  SEP '05        1.4
82  JUN '05        0.1
83  MAR '05        0.4

[79 rows x 2 columns]

In [48]:
Inflation_PCE = pd.read_excel('/content/dataset/FNCE-449-term-data-main/FNCE 449 original/Inflation PCE.xlsx')
Inflation_PCE.rename(columns = {'Security':'Date','PCE CMOM Index':'PCE_growth','Unnamed: 2':'ACTUAL_RELEASE'}, inplace = True)
Inflation_PCE = Inflation_PCE[5:]
Inflation_PCE['Date'] = pd.to_datetime(Inflation_PCE['Date'])
Inflation_PCE['Date'] = Inflation_PCE['Date'].dt.strftime("%b '%y").str.upper()
Inflation_PCE = Inflation_PCE[["Date", "PCE_growth"]]
Inflation_PCE

       Date PCE_growth
5   JUN '24       0.08
6   MAR '24       0.34
7   DEC '23       0.18
8   SEP '23       0.32
9   JUN '23       0.26
..      ...        ...
78  MAR '06       0.28
79  DEC '05        0.1
80  SEP '05       0.22
81  JUN '05       0.07
82  MAR '05       0.25

[78 rows x 2 columns]

In [49]:
US_Employment_Rate = pd.read_excel('/content/dataset/FNCE-449-term-data-main/FNCE 449 original/US Employment Rate.xlsx')
US_Employment_Rate.rename(columns = {'Security':'Date','EHUPUS Index':'Unemployment Rate'}, inplace = True)
US_Employment_Rate = US_Employment_Rate[5:]
US_Employment_Rate['Date'] = pd.to_datetime(US_Employment_Rate['Date'])
US_Employment_Rate['Date'] = US_Employment_Rate['Date'].dt.strftime("%b '%y").str.upper()
US_Employment_Rate = US_Employment_Rate[["Date", "Unemployment Rate"]]
US_Employment_Rate

        Date Unemployment Rate
5    SEP '24               4.2
6    JUN '24                 4
7    MAR '24               3.8
8    DEC '23              3.73
9    SEP '23               3.7
..       ...               ...
120  DEC '95              5.57
121  SEP '95              5.67
122  JUN '95              5.67
123  MAR '95              5.47
124  DEC '94              5.63

[120 rows x 2 columns]

In [50]:
US_SA_NFP = pd.read_excel('/content/dataset/FNCE-449-term-data-main/FNCE 449 original/US SA NFP.xlsx')
US_SA_NFP.rename(columns = {'Security':'Date','NFP T Index':'NFP'}, inplace = True)
US_SA_NFP = US_SA_NFP[5:]
US_SA_NFP['Date'] = pd.to_datetime(US_SA_NFP['Date'])
US_SA_NFP['Date'] = US_SA_NFP['Date'].dt.strftime("%b '%y").str.upper()
US_SA_NFP = US_SA_NFP[["Date", "NFP"]]
US_SA_NFP

        Date     NFP
5    SEP '24  159105
6    JUN '24  158548
7    MAR '24  158106
8    DEC '23  157304
9    SEP '23  156667
..       ...     ...
119  MAR '96  118990
120  DEC '95  118325
121  SEP '95  117880
122  JUN '95  117286
123  MAR '95  116907

[119 rows x 2 columns]

In [51]:
regression_input = pd.merge(CL_Brent_price, CL_price, on='Date')
regression_input = pd.merge(regression_input, Fed_Fund_Rate, on='Date')
regression_input = pd.merge(regression_input, GDP_QoQ, on='Date')
regression_input = pd.merge(regression_input, Inflation_CPI, on='Date')
regression_input = pd.merge(regression_input, Inflation_PCE, on='Date')
regression_input = pd.merge(regression_input, NG_price, on='Date')
regression_input = pd.merge(regression_input, US_Employment_Rate, on='Date')
regression_input = pd.merge(regression_input, US_SA_NFP, on='Date')
regression_input

,Date,CL Brent Price,CL WTI Price,Federal Fund Rate,ACTUAL_RELEASE_gdp_growth,CPI_growth,PCE_growth,NG Price,Unemployment Rate,NFP
0,MAR '24,87.48,83.17,5.33,1.4,0.4,0.34,1.763,3.8,158106
1,DEC '23,77.04,71.65,5.33,3.4,0.2,0.18,2.514,3.73,157304
2,SEP '23,95.31,90.79,5.33,4.9,0.4,0.32,2.929,3.7,156667
3,JUN '23,74.9,70.64,5.08,2.1,0.2,0.26,2.798,3.57,156027
4,MAR '23,79.77,75.67,4.65,2,0.1,0.29,2.216,3.5,155206
...,...,...,...,...,...,...,...,...,...,...
72,MAR '06,65.91,66.63,4.59,5.6,0.2,0.28,7.21,4.73,136041
73,DEC '05,58.98,61.04,4.16,1.7,0,0.1,11.225,4.97,135160
74,SEP '05,63.48,66.24,3.62,4.1,1.4,0.22,13.921,4.97,134552
75,JUN '05,55.58,56.5,3.04,3.3,0.1,0.07,6.981,5.1,133939
76,MAR '05,54.29,55.4,2.63,3.8,0.4,0.25,7.653,5.3,133154

In [52]:
regression_input = pd.merge(regression_input, df_Earning_Surprise_core, left_on='Date',right_on='Per End')
regression_input

,Date,CL Brent Price,CL WTI Price,Federal Fund Rate,ACTUAL_RELEASE_gdp_growth,CPI_growth,PCE_growth,NG Price,Unemployment Rate,NFP,...,PEG,Reported,Total Assets,Total Liabilities,Total Shareholders' Equity,Revenue,Operating Expenses,Net Income,Net Operating Cash Flow,Net Investing Cash Flow
0,MAR '24,87.48,83.17,5.33,1.4,0.4,0.34,1.763,3.8,158106,...,-873.729998,0.785,14952,11299,2607,1951,1389,132,368,-88
1,DEC '23,77.04,71.65,5.33,3.4,0.2,0.18,2.514,3.73,157304,...,-89.731898,1.150,15244,11553,2655,2167,1287,1773,1030,-356
2,SEP '23,95.31,90.79,5.33,4.9,0.4,0.32,2.929,3.7,156667,...,144.078315,1.331,13545,11438,1078,2308,1468,459,764,-667
3,JUN '23,74.9,70.64,5.08,2.1,0.2,0.26,2.798,3.57,156027,...,126.099630,0.851,13244,11548,709,1796,1153,381,1000,-583
4,MAR '23,79.77,75.67,4.65,2,0.1,0.29,2.216,3.5,155206,...,-140.354742,1.196,13213,11780,444,2008,1157,242,335,-532
5,DEC '22,85.91,80.26,4.1,2.6,0.1,0.36,4.475,3.57,154291,...,-105.896603,1.482,13147,11802,423,2472,1628,443,1413,-617
6,SEP '22,87.96,79.49,2.56,3.2,0.4,0.44,6.766,3.53,153536,...,-74.962330,1.971,13629,12078,600,2887,1608,422,1104,-910
7,JUN '22,114.81,105.76,1.21,-0.6,1.2,0.59,5.424,3.63,152348,...,-80.228982,2.387,12924,11419,584,3047,1522,926,1535,-450
8,MAR '22,107.91,100.28,0.2,-1.6,1.1,0.38,5.642,3.8,151370,...,228.785784,1.929,12476,11624,-18,2669,1450,1883,891,466
9,DEC '21,77.78,75.21,0.08,6.9,0.7,0.6,3.73,4.17,149763,...,48.269331,1.486,13303,13308,-1595,2299,1535,382,1085,-291
10,SEP '21,78.52,75.03,0.08,2.3,0.4,0.2,5.867,5.07,147706,...,51.616484,0.980,13310,12825,-1095,2059,1318,-113,771,-149
11,JUN '21,75.13,73.47,0.08,6.7,0.8,0.46,3.65,5.93,145822,...,37.890704,0.699,13512,12819,-964,1756,1211,316,969,-126
12,MAR '21,63.54,59.16,0.07,6.4,0.5,0.4,2.608,6.23,144274,...,-113.648601,0.920,13127,12783,-1258,1871,1401,388,671,-267
13,DEC '20,51.8,48.52,0.09,4.3,0.4,0.31,2.539,6.73,142518,...,181.993366,-0.016,12746,12783,-1639,1219,1144,10,498,-190
14,SEP '20,40.95,40.22,0.09,33.4,0.2,0.15,2.527,8.8,141820,...,95.251190,-0.140,12875,12912,-1641,1120,984,-4,304,-359
15,JUN '20,41.15,39.27,0.08,-31.4,0.5,0.15,1.751,13,137655,...,29.260388,-0.722,12999,13043,-1635,752,1087,-386,84,-408
16,MAR '20,22.74,20.48,0.65,-5,-0.4,-0.08,1.64,3.83,150898,...,13.508004,0.390,13391,13046,-1246,1344,1278,-4480,502,-509
17,DEC '19,66,61.06,1.55,2.1,0.3,0.22,2.189,3.6,151792,...,8.581274,0.645,18107,13087,3255,1625,1918,-2976,778,-52
18,SEP '19,60.78,54.07,2.04,2.1,0.2,0.07,2.33,3.6,151358,...,81.056861,-0.382,21405,12998,6301,1438,1406,-170,635,-1562
19,JUN '19,66.55,58.47,2.38,2,0,0.18,2.308,3.63,150844,...,-15.865754,0.406,21806,13131,6551,1616,1407,-360,856,-283
20,MAR '19,68.39,60.14,2.41,3.1,0.4,0.09,2.662,3.87,150294,...,-583.790181,0.116,21751,13142,6989,1654,1441,-47,598,-938
21,DEC '18,53.8,45.41,2.27,2.2,0.1,0.17,2.94,3.83,149804,...,-194.187358,0.369,21582,12770,7130,1703,1555,-381,1043,-1104
22,SEP '18,82.72,73.25,1.95,3.4,0.2,0.19,3.008,3.77,149361,...,-124.295568,0.610,21870,12924,7612,1976,1408,81,1006,-926
23,JUN '18,79.44,74.15,1.82,4.2,0.1,0.09,2.924,3.93,148968,...,536.812266,0.474,21910,12915,7640,1936,1383,195,1113,-1024
24,MAR '18,70.27,64.94,1.51,2,0,0.22,2.733,4.03,148280,...,323.795302,0.298,21791,12922,7502,1733,1319,145,615,-890
25,DEC '17,66.87,60.42,1.3,2.9,0.2,0.15,2.953,4.17,147521,...,642.812500,0.328,21922,13131,7416,1640,1263,456,668,-793
26,SEP '17,57.54,51.67,1.15,3.2,0.5,0.12,3.007,4.33,146999,...,-104.001901,0.032,21835,13458,7011,1389,1413,63,554,-94
27,JUN '17,47.92,46.04,1.04,3.1,0.1,0.13,3.035,4.37,146588,...,0.000000,-0.207,22602,14337,6899,1346,1349,572,751,-436
28,MAR '17,52.83,50.6,0.79,1.4,0,-0.04,3.19,4.57,145976,...,-506.012117,0.082,22610,14787,6385,1512,1303,213,455,-93
29,DEC '16,56.82,53.72,0.54,2.1,0.3,0.12,3.724,4.77,145410,...,-871.938099,-0.059,22519,14840,6238,1455,1433,-182,796,-298
30,SEP '16,49.06,48.24,0.4,3.5,0.3,0.13,2.906,4.9,144961,...,1181.452381,-0.032,23149,15200,6469,1439,1486,-574,651,-396
31,JUN '16,49.68,48.33,0.38,1.4,0.3,0.1,2.924,4.93,144152,...,-13249.775281,-0.267,24346,15650,7142,1386,1415,-244,744,-411
32,MAR '16,39.6,38.34,0.36,1.1,0.3,0.14,1.959,4.9,143666,...,78.454066,-0.831,17679,14125,2018,1087,1427,-372,239,-555
33,DEC '15,37.28,37.04,0.24,1.4,-0.1,0.07,2.337,5.03,143083,...,-738.847307,-0.063,25500,16010,7888,1254,3605,-4642,174,-263
34,SEP '15,48.37,45.09,0.14,2,-0.2,0.14,2.524,5.1,142265,...,-1862.900786,-0.087,27812,15840,9809,1606,1818,-4126,711,-927
35,JUN '15,63.59,59.47,0.13,3.9,0.3,0.12,2.832,5.43,141695,...,280.594280,0.463,35312,17557,15544,1991,1793,-980,1132,4391
36,MAR '15,55.11,47.6,0.11,-0.2,0.3,0.15,2.64,5.53,140925,...,272.169195,-0.446,48650,25245,21211,1806,1983,-4651,650,-2118
37,DEC '14,57.33,53.27,0.12,2.2,-0.3,0.07,2.889,5.7,140366,...,-40.996676,0.882,55952,27815,25937,2648,2180,-3742,1933,-1937
38,SEP '14,94.67,91.16,0.09,5,0,0.13,4.121,6.07,139564,...,-130.298488,1.278,60990,28004,30818,3468,2262,-1330,1896,-3154
39,JUN '14,112.36,105.37,0.1,4.6,0.1,0.11,4.461,6.2,138833,...,-436.740144,1.496,61171,26279,32755,3708,2166,505,2339,-1764
40,MAR '14,107.76,101.58,0.08,-2.9,0.2,0.15,4.371,6.67,137987,...,2271.969967,1.779,61121,25944,33082,3647,2155,753,2293,-1949
41,DEC '13,110.8,98.42,0.09,2.6,0.3,0.11,4.23,6.93,137367,...,-765.606270,0.964,61637,26244,33396,3598,2202,174,2477,166
42,SEP '13,108.37,102.33,0.08,4.1,0,0.12,3.56,7.23,136819,...,-204.596934,2.604,60239,27258,32981,4286,2526,435,1978,1030

In [53]:
regression_input[['Date','Reported']]

       Date  Reported
0   MAR '24     0.785
1   DEC '23     1.150
2   SEP '23     1.331
3   JUN '23     0.851
4   MAR '23     1.196
5   DEC '22     1.482
6   SEP '22     1.971
7   JUN '22     2.387
8   MAR '22     1.929
9   DEC '21     1.486
10  SEP '21     0.980
11  JUN '21     0.699
12  MAR '21     0.920
13  DEC '20    -0.016
14  SEP '20    -0.140
15  JUN '20    -0.722
16  MAR '20     0.390
17  DEC '19     0.645
18  SEP '19    -0.382
19  JUN '19     0.406
20  MAR '19     0.116
21  DEC '18     0.369
22  SEP '18     0.610
23  JUN '18     0.474
24  MAR '18     0.298
25  DEC '17     0.328
26  SEP '17     0.032
27  JUN '17    -0.207
28  MAR '17     0.082
29  DEC '16    -0.059
30  SEP '16    -0.032
31  JUN '16    -0.267
32  MAR '16    -0.831
33  DEC '15    -0.063
34  SEP '15    -0.087
35  JUN '15     0.463
36  MAR '15    -0.446
37  DEC '14     0.882
38  SEP '14     1.278
39  JUN '14     1.496
40  MAR '14     1.779
41  DEC '13     0.964
42  SEP '13     2.604

In [54]:
regression_input.columns

Index(['Date', 'CL Brent Price', 'CL WTI Price', 'Federal Fund Rate',
       'ACTUAL_RELEASE_gdp_growth', 'CPI_growth', 'PCE_growth', 'NG Price',
       'Unemployment Rate', 'NFP', 'Per End', 'P/E', 'P/B', 'D/E', 'PEG',
       'Reported', 'Total Assets', 'Total Liabilities',
       'Total Shareholders' Equity', 'Revenue', 'Operating Expenses',
       'Net Income', 'Net Operating Cash Flow', 'Net Investing Cash Flow'],
      dtype='object')

In [55]:
regression_input.to_csv('regression_input.csv', index=False)

In [56]:
!pip install pandas scikit-learn numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.5.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [57]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

In [58]:
# Load the data
data = pd.read_csv('/content/regression_input.csv')

# Drop the 'Date' column as it's not used for training
dates = data['Date']
data = data.drop(columns=['Date', 'Per End'])

# Define features (X) and target variable (y)
X = data.drop(columns=['Reported'])  # Replace 'Net Income' with your actual target variable
y = data['Reported']

# Split the data into training and testing sets (80% train, 20% test)
X_train, X_test, y_train, y_test, dates_train, dates_test = train_test_split(
    X, y, dates, test_size=0.02, random_state=42
)

# 1. Without Normalization
# Train the random forest model
rf_no_scaling = RandomForestRegressor(random_state=42)
rf_no_scaling.fit(X_train, y_train)

# Predict on the test set
y_pred_no_scaling = rf_no_scaling.predict(X_test)

# Calculate RMSE
rmse_no_scaling = np.sqrt(mean_squared_error(y_test, y_pred_no_scaling))
print(f'RMSE without normalization: {rmse_no_scaling}')

# Print the dates, true values, and predictions for the test set
print("\nPredictions without normalization:")
for date, true_val, pred_val in zip(dates_test, y_test, y_pred_no_scaling):
    print(f"Date: {date}, True Value: {true_val}, Predicted Value: {pred_val}")

RMSE without normalization: 0.15993000000000024

Predictions without normalization:
Date: DEC '14, True Value: 0.882, Predicted Value: 1.0419300000000002

In [59]:
# 2. With Normalization
# Normalize the feature data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train the random forest model with normalized data
rf_scaling = RandomForestRegressor(random_state=42)
rf_scaling.fit(X_train_scaled, y_train)

# Predict on the test set
y_pred_scaling = rf_scaling.predict(X_test_scaled)

# Calculate RMSE
rmse_scaling = np.sqrt(mean_squared_error(y_test, y_pred_scaling))
print(f'RMSE with normalization: {rmse_scaling}')

# Print the dates, true values, and predictions for the test set
print("\nPredictions with normalization:")
for date, true_val, pred_val in zip(dates_test, y_test, y_pred_scaling):
    print(f"Date: {date}, True Value: {true_val}, Predicted Value: {pred_val}")

RMSE with normalization: 0.15993000000000024

Predictions with normalization:
Date: DEC '14, True Value: 0.882, Predicted Value: 1.0419300000000002

In [124]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

# Load the data
data = pd.read_csv('/content/regression_input.csv')
data = data.iloc[::-1]
# data = data.drop(27).reset_index(drop=True)

In [125]:
# Drop 'Date' as it should not be used as a feature for training
# However, keep the sorted order for time-based splitting
data = data.reset_index(drop=True)
dates = data['Date']

# Define features (X) and target variable (y)
X = data.drop(columns=['Date', 'Reported', 'Per End'])
y = data['Reported']

# Split data into time-based train and test sets (80% train, 20% test)
split_index = int(len(data) - 1)
X_train, X_test = X.iloc[:split_index], X.iloc[split_index:]
y_train, y_test = y.iloc[:split_index], y.iloc[split_index:]
dates_test = dates.iloc[split_index:]

# 1. Without Normalization
# Train the random forest model
rf_no_scaling = RandomForestRegressor(random_state=42)
rf_no_scaling.fit(X_train, y_train)

# Predict on the test set
y_pred_no_scaling = rf_no_scaling.predict(X_test)

# Calculate RMSE
rmse_no_scaling = np.sqrt(mean_squared_error(y_test, y_pred_no_scaling))
print(f'RMSE without normalization: {rmse_no_scaling}')

# Print the dates, true values, and predictions for the test set
print("\nPredictions without normalization:")
for date, true_val, pred_val in zip(dates_test, y_test, y_pred_no_scaling):
    print(f"Date: {date}, True Value: {true_val}, Predicted Value: {pred_val}")

RMSE without normalization: 0.002249999999999641

Predictions without normalization:
Date: MAR '24, True Value: 0.785, Predicted Value: 0.7872499999999997

In [78]:
# 2. With Normalization
# Normalize the feature data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Train the random forest model with normalized data
rf_scaling = RandomForestRegressor(random_state=42)
rf_scaling.fit(X_train_scaled, y_train)

# Predict on the test set
y_pred_scaling = rf_scaling.predict(X_test_scaled)

# Calculate RMSE
rmse_scaling = np.sqrt(mean_squared_error(y_test, y_pred_scaling))
print(f'RMSE with normalization: {rmse_scaling}')

# Print the dates, true values, and predictions for the test set
print("\nPredictions with normalization:")
for date, true_val, pred_val in zip(dates_test, y_test, y_pred_scaling):
    print(f"Date: {date}, True Value: {true_val}, Predicted Value: {pred_val}")

RMSE with normalization: 0.002249999999999641

Predictions with normalization:
Date: MAR '24, True Value: 0.785, Predicted Value: 0.7872499999999997